html
{
  height: 100%;
}

body
{
  min-height:100%; 
  position:relative; 
  padding-bottom: 140px; 
}

h1 
{
  font-size: 70px;
  font-weight: 500;
  color: $dark;
  margin-bottom: 30px;
    
  @include media-breakpoint-down(sm) {
    font-size: 40px;
  }
}

h2 
{
  font-size: 42px;
  font-weight: 500;
  line-height: 66px;
  color: $dark;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
  line-height: 35px;
  font-weight: 500;
}

h4 {
  
}

p {
  font-size: 16px;
  line-height: 29px;
  color: $dark;
  margin-bottom: 29px;
}

b {
  font-weight: 500;
}

strong {
  font-weight: 700;
}

ul {
  
  li {
    
  }
}

ol {
  
  li {
    
  }
}

table {
  
}

tr {
  
}

th {
  
}

td {
  
}

a {
  
}

input {
  
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
  
  &:focus {
    outline: none;
  }
}

select {
  
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  cursor: pointer;
  border: 0;
}

img {
  
}