include ../blocks/header/header.pug
include ../blocks/front/front.pug
include ../blocks/item/item.pug
include ../blocks/logo/logo.pug
include ../blocks/btn/btn.pug
include ../blocks/picture/picture.pug
include ../blocks/input/input.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/front-min/front-min.pug
include ../blocks/content-table/content-table.pug