mixin item(title, dscr, modifier)
  a.item(href="#")&attributes(attributes)
    .item__picture(style="background-image: url(../img/item.jpg);")
    .item__content
      .item__content-top
        h3.item__title= title
        p.item__dscr= dscr
      .item__date 01.01.2018