.item 
{
  max-width: 425px;
  height: 470px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  background-color: #ffffff;
  
  font-family: $font-family-sans-serif;
  color: $black;

  &__picture 
  {
    max-width: 425px;
    height: 200px;
  }
  
  &__content 
  {
    height: 270px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  &__content-top
  {
    color: $black;
    margin: 20px 20px 0 20px;
  }
  
  &__title 
  {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    max-width: 305px;
  }
  
  &__dscr
  {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 0;
  }
  
  &__date 
  {
    color: #bdbdbd;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    text-align: right;
    margin: 0 20px 20px 0;    
  }

  &:hover
  {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
  }
}