mixin footer(modifier)
  .footer&attributes(attributes)
    .modal.fade(id="modal_AboutSite" tabindex="-1" role="dialog" aria-labelledby="modalLabel_AboutSite" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_AboutSite") Информация о разразработке сайта
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            p Сайт разработан ГОАОУ «Центр поддержки одаренных детей «Стратегия» по заказу ООО"Стирус".
            a(href='http://www.strategy48.ru/') www.strategy48.ru
            p Frontend/Backend-разработка: В.Ю. Авдеев 
          .modal-footer
            button.btn.btn-secondary.mx-auto(data-dismiss="modal") Закрыть
    .modal.fade(id="modal_SiteMap" tabindex="-1" role="dialog" aria-labelledby="modalLabel_SiteMap" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_SiteMap") Карта сайта
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            .list-group
              a.list-group-item.list-group-item-action(href="index.html") Главная
              a.list-group-item.list-group-item-action(href="documents.html") Документы
              a.list-group-item.list-group-item-action(href="galery.html") Галерея
              a.list-group-item.list-group-item-action(href="contact.html") Контакты
    .modal.fade(id="modal_AboutCo" tabindex="-1" role="dialog" aria-labelledby="modalLabel_AboutCo" aria-hidden="true")
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_AboutCo") О Компании
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            h6  Цели и виды деятельности ООО "Стирус"
            p Целью деятельности Общества является достижение максимальной экономической эффективности, наиболее полное и качественное удовлетворение потребностей физических и юридических лиц в производимой Обществом продукции, выполняемых работах и услугах. 
            h6 Основные виды деятельности Общества
            p купля-продажа недвижимости; строительство жилых и нежилых зданий.
            h6 Директор 
            p Меделян Вера Васильевна +7(4742) 35-77-08
            div
              span Полная контактная информация находится в разделе
                a.ml-10(href="contact.html") Контакты
    .container-fluid
      .row
        .col-12
          .footer__top.mx-auto
            nav.footer__sitemap
              a.footer__link(href="#" data-target="#modal_SiteMap" data-toggle="modal") Карта сайта
              a.footer__link(href="#" data-target="#modal_AboutSite" data-toggle="modal") Сайт-инфо
              a.footer__link(href="#" data-target="#modal_AboutCo" data-toggle="modal") О Компании
            +socials(class="mt-20 mr-5")
          span.footer__copyright.mx-auto  © 2018 ООО "Стирус" Строительная компания