mixin int-picture(modifier)
  .int-picture&attributes(attributes)
    .container
      .row
        .col-12
          .int-picture__label.mx-auto.mb-20
        .col-12
          .int-picture__plan-cont.mx-auto
            svg.pic-plan-svg(version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1200px" height="622px" viewBox="1852 957.167 1228 634.666" enable-background="new 1852 957.167 1228 634.666" xml:space="preserve")
              path(fill="#f2f3f5" d="M2118.163,1363.49h695.509v-66.721l-235.561,1.158l0.828-322.161l-44.725-0.13	c-53.32-26.69-91.958-22.951-133.595-0.385l-45.606-0.132l-0.426,320.543l-236.545-0.083L2118.163,1363.49L2118.163,1363.49z")
              path.home-fill-4(fill="#f2f3f5" d="M2802.35,1359.125h-157.07l0.574-29.298c-20.486,4.629-27.965,13.354-29.008,29.298h-151.376v230.45h336.88 V1359.125L2802.35,1359.125z")
              path.home-fill-3(fill="#f2f3f5" d="M2129.319,1361.234h157.07l-0.574-29.299c20.486,4.629,27.965,13.354,29.007,29.299H2466.2v230.449h-336.881	V1361.234L2129.319,1361.234z")
              path.home-fill-5(fill="#f2f3f5" d="M3039.633,1298.457l-229.381-1.245l0.074,24.235c-14.139,2.126-24.109,9.604-27.775,29.021l27.863,0.191 l0.033,11.054l-8.57,0.828l0.473,228.278l234.258-1.246v-20.67h41.6l0.834-100.536l-39.229,0.188L3039.633,1298.457	L3039.633,1298.457z")
              path.home-fill-2(fill="#f2f3f5" d="M1892.161,1298.977l230.57,0.008l-0.074,24.235c14.139,2.126,24.109,9.604,27.774,29.021l-27.862,0.191 l-0.033,11.054l8.569,0.828l0.705,226.505l-235.436,0.528v-20.67h-41.599l-0.835-100.537l38.255,0.184L1892.161,1298.977	L1892.161,1298.977z")
              path.home-fill-6(fill="#f2f3f5" d="M2941.279,1015.003h-368.963v278.058h117.881c-1.928,24.078,15.521,31.557,28.707,34.049l0.055-27.818 l218.707-0.859l41.668-0.074l-0.191-113.173l-37.863-0.168V1015.003L2941.279,1015.003z")
              path.home-fill-1(fill="#f2f3f5" d="M1990.972,1015.73h368.962v278.058h-117.881c1.928,24.079-15.521,31.557-28.707,34.05l-0.055-27.818	l-218.707-0.859l-41.667-0.075l0.19-113.173l37.863-0.168L1990.972,1015.73L1990.972,1015.73z")
              line(fill="none" stroke="#000000" stroke-width="10" x1="1990.971" y1="1019.956" x2="2155.207" y2="1019.762")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2208.42" y1="1019.566" x2="2283.786" y2="1019.566")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2327.602" y1="1019.177" x2="2354.088" y2="1019.177")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2357.889" y1="1014.408" x2="2358.18" y2="1272.639")
              line(fill="none" stroke="#000000" stroke-width="10" x1="1995.86" y1="1024.826" x2="1996.055" y2="1052.285")
              line(fill="none" stroke="#000000" stroke-width="10" x1="1995.374" y1="1123.123" x2="1995.958" y2="1199.853")
              line(fill="none" stroke="#000000" stroke-width="10" x1="1995.764" y1="1223.012" x2="1995.764" y2="1303.701")
              line(fill="none" stroke="#000000" stroke-width="10" x1="1892.161" y1="1298.977" x2="2000.632" y2="1299.173")
              line(fill="none" stroke="#000000" stroke-width="10" x1="1896.444" y1="1331.889" x2="1896.639" y2="1296.055")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2000.243" y1="1295.473" x2="2213.098" y2="1295.668")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2242.31" y1="1295.276" x2="2359.934" y2="1295.666")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2358.035" y1="1272.639" x2="2358.035" y2="1300.576")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2000.736" y1="1171.638" x2="2126.58" y2="1171.918")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2127.624" y1="1024.772" x2="2127.721" y2="1139.746")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2127.6" y1="1165.429" x2="2127.6" y2="1172.147")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2189.43" y1="1171.76" x2="2126.58" y2="1171.918")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2187.979" y1="1183.838" x2="2187.979" y2="1169.618")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2187.984" y1="1290.686" x2="2188.079" y2="1217.461")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2127.721" y1="1133.33" x2="2222.549" y2="1133.33")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2248.307" y1="1133.476" x2="2262.28" y2="1133.524")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2261.112" y1="1139.951" x2="2261.112" y2="1019.566")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2259.089" y1="1174.818" x2="2359.204" y2="1174.592")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2260.002" y1="1233.242" x2="2358.395" y2="1233.017")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2261.366" y1="1245.999" x2="2261.366" y2="1225.647")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2261.268" y1="1201.889" x2="2261.268" y2="1174.816")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2261.268" y1="1174.816" x2="2261.348" y2="1166.062")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2261.155" y1="1269.325" x2="2261.155" y2="1293.96")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2357.956" y1="1042.674" x2="2377.107" y2="1042.674")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2401.013" y1="1043.062" x2="2424.964" y2="1043.062")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2408.952" y1="1088.148" x2="2526.576" y2="1088.148")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2561.436" y1="1088.344" x2="2578.377" y2="1088.344")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2573.898" y1="1013.367" x2="2573.705" y2="1273.349")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2358.178" y1="1269.548" x2="2453.366" y2="1269.938")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2480.045" y1="1270.13" x2="2514.32" y2="1270.13")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2558.334" y1="1269.938" x2="2575.562" y2="1269.938")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2441.096" y1="1269.887" x2="2441.096" y2="1088.148")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2499.281" y1="1270.13" x2="2499.281" y2="1213.117")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2441.096" y1="1227.335" x2="2499.281" y2="1227.335")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2441.096" y1="1174.947" x2="2500.939" y2="1175.239")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2498.115" y1="1188.237" x2="2498.115" y2="1165.355")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2497.922" y1="1125.627" x2="2497.922" y2="1088.148")
              line(fill="none" stroke="#000000" stroke-width="10" x1="1896.758" y1="1384.448" x2="1896.661" y2="1507.042")
              line(fill="none" stroke="#000000" stroke-width="10" x1="1896.374" y1="1529.777" x2="1896.374" y2="1591.953")
              line(fill="none" stroke="#000000" stroke-width="10" x1="1896.374" y1="1586.954" x2="2052.292" y2="1585.979")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2104.873" y1="1586.758" x2="2166.217" y2="1586.951")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2132.238" y1="1368.346" x2="2131.947" y2="1583.344")
              line(fill="none" stroke="#000000" stroke-width="5" x1="1896.726" y1="1424.622" x2="2024.733" y2="1424.815")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2022.347" y1="1433.164" x2="2022.153" y2="1364.42")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2022.154" y1="1339.004" x2="2022.194" y2="1295.494")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2022.057" y1="1586.17" x2="2022.448" y2="1467.242")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2037.446" y1="1468.729" x2="2019.897" y2="1468.726")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2062.818" y1="1468.784" x2="2069.098" y2="1468.784")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2067.225" y1="1471.243" x2="2067.127" y2="1418.124")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2067.195" y1="1455.32" x2="2132.122" y2="1455.407")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2067.154" y1="1394.996" x2="2067.032" y2="1363.889")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2065.133" y1="1366.391" x2="2114.55" y2="1366.391")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2114.407" y1="1363.493" x2="2286.025" y2="1363.396")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2118.058" y1="1351.807" x2="2118.058" y2="1368.508")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2117.913" y1="1322.836" x2="2117.939" y2="1295.581")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2210.446" y1="1586.639" x2="2260.399" y2="1586.93")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2229.249" y1="1424.698" x2="2229.249" y2="1587.312")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2244.93" y1="1426.5" x2="2226.771" y2="1426.55")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2270.2" y1="1426.256" x2="2340.407" y2="1426.256")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2338.934" y1="1452.555" x2="2339.03" y2="1586.832")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2315.194" y1="1363.832" x2="2617.049" y2="1364.025")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2338.659" y1="1379.506" x2="2338.668" y2="1363.848")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2312.663" y1="1586.906" x2="2341.521" y2="1586.811")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2338.897" y1="1551.119" x2="2385.427" y2="1551.218")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2408.756" y1="1551.258" x2="2523.266" y2="1551.453")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2547.025" y1="1551.064" x2="2594.932" y2="1551.064")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2619.564" y1="1587.576" x2="2590.451" y2="1587.576")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2465.819" y1="1364.847" x2="2466.203" y2="1592.048")
              line(fill="none" stroke="#000000" stroke-width="3" x1="1896.69" y1="1470.141" x2="1852.521" y2="1470.141")
              line(fill="none" stroke="#000000" stroke-width="3" x1="1853.941" y1="1470.141" x2="1853.747" y2="1572.076")
              line(fill="none" stroke="#000000" stroke-width="3" x1="1853.75" y1="1570.677" x2="1896.374" y2="1570.677")
              line(fill="none" stroke="#000000" stroke-width="3" x1="2338.982" y1="1590.315" x2="2466.203" y2="1590.764")
              rect(x="2052.15" y="1581.484" fill="none" stroke="#000000" stroke-width="2.2229" width="52.19" height="9.542")
              rect(x="2166.152" y="1582.236" fill="none" stroke="#000000" stroke-width="2.2229" width="43.72" height="8.764")
              rect(x="2260.02" y="1581.945" fill="none" stroke="#000000" stroke-width="2.2229" width="52.971" height="9.736")
              rect(x="1891.958" y="1331.701" fill="none" stroke="#000000" stroke-width="2.2229" width="9.153" height="52.581")
              rect(x="1991.084" y="1052.829" fill="none" stroke="#000000" stroke-width="2.2229" width="9.153" height="70.303")
              line(fill="none" stroke="#000000" stroke-width="3" x1="1952.918" y1="1299.086" x2="1953.112" y2="1184.452")
              line(fill="none" stroke="#000000" stroke-width="3" x1="1953.109" y1="1185.914" x2="1996.906" y2="1185.719")
              rect(x="2155.235" y="1015.414" fill="none" stroke="#000000" stroke-width="2.2229" width="53.75" height="8.373")
              rect(x="2282.987" y="1015.219" fill="none" stroke="#000000" stroke-width="2.2229" width="45.18" height="8.764")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2940.709" y1="1019.436" x2="2776.586" y2="1019.24")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2723.373" y1="1019.046" x2="2648.006" y2="1019.046")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2604.191" y1="1018.656" x2="2577.705" y2="1018.656")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2935.934" y1="1024.306" x2="2935.738" y2="1052.309")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2936.418" y1="1122.603" x2="2935.836" y2="1199.332")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2936.029" y1="1222.492" x2="2936.029" y2="1303.451")
              line(fill="none" stroke="#000000" stroke-width="10" x1="3039.633" y1="1298.457" x2="2935.32" y2="1298.65")
              line(fill="none" stroke="#000000" stroke-width="10" x1="3035.35" y1="1331.367" x2="3035.152" y2="1295.536")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2937.586" y1="1294.953" x2="2718.695" y2="1295.146")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2689.482" y1="1294.754" x2="2571.859" y2="1295.144")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2575.193" y1="1265.932" x2="2575.193" y2="1300.119")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2931.057" y1="1171.117" x2="2805.213" y2="1171.397")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2804.17" y1="1024.252" x2="2804.072" y2="1139.225")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2804.193" y1="1164.183" x2="2804.193" y2="1171.627")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2742.363" y1="1171.239" x2="2805.213" y2="1171.397")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2743.814" y1="1183.472" x2="2743.814" y2="1168.722")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2743.809" y1="1290.164" x2="2743.713" y2="1216.941")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2804.072" y1="1132.809" x2="2709.244" y2="1132.809")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2683.486" y1="1132.955" x2="2669.514" y2="1133.003")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2670.682" y1="1139.431" x2="2670.682" y2="1019.046")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2670.525" y1="1174.298" x2="2572.59" y2="1174.071")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2671.791" y1="1232.723" x2="2573.398" y2="1232.495")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2670.426" y1="1245.477" x2="2670.426" y2="1224.435")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2670.525" y1="1201.368" x2="2670.525" y2="1174.295")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2670.525" y1="1174.295" x2="2670.445" y2="1164.908")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2670.639" y1="1268.014" x2="2670.639" y2="1293.44")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2575.514" y1="1043.67" x2="2556.363" y2="1043.669")
              line(fill="none" stroke="#000000" stroke-width="10" x1="3035.033" y1="1383.93" x2="3035.133" y2="1506.521")
              line(fill="none" stroke="#000000" stroke-width="10" x1="3035.418" y1="1529.258" x2="3035.418" y2="1591.451")
              line(fill="none" stroke="#000000" stroke-width="10" x1="3035.418" y1="1586.432" x2="2879.502" y2="1585.46")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2826.922" y1="1586.236" x2="2765.574" y2="1586.432")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2799.555" y1="1367.824" x2="2799.846" y2="1582.822")
              line(fill="none" stroke="#000000" stroke-width="5" x1="3035.066" y1="1424.1" x2="2907.061" y2="1424.296")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2909.445" y1="1432.643" x2="2909.641" y2="1363.898")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2909.639" y1="1338.485" x2="2909.598" y2="1294.972")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2909.736" y1="1585.648" x2="2909.344" y2="1466.723")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2894.35" y1="1468.207" x2="2912.357" y2="1468.207")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2868.975" y1="1468.262" x2="2862.693" y2="1468.262")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2864.566" y1="1470.785" x2="2864.664" y2="1417.605")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2864.6" y1="1454.798" x2="2799.672" y2="1454.888")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2864.639" y1="1394.475" x2="2864.76" y2="1363.49")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2866.66" y1="1365.869" x2="2817.242" y2="1365.869")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2817.387" y1="1362.972" x2="2645.768" y2="1362.873")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2813.734" y1="1351.287" x2="2813.734" y2="1367.985")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2813.881" y1="1322.316" x2="2813.854" y2="1295.059")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2721.346" y1="1586.117" x2="2671.395" y2="1586.408")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2702.545" y1="1424.18" x2="2702.545" y2="1586.79")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2686.863" y1="1425.98" x2="2705.559" y2="1426.028")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2661.592" y1="1425.734" x2="2591.387" y2="1425.734")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2592.859" y1="1411.677" x2="2592.762" y2="1586.311")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2593.135" y1="1378.984" x2="2593.125" y2="1363.326")
              line(fill="none" stroke="#000000" stroke-width="3" x1="3035.104" y1="1469.621" x2="3079.479" y2="1469.621")
              line(fill="none" stroke="#000000" stroke-width="3" x1="3077.854" y1="1469.621" x2="3078.047" y2="1571.701")
              line(fill="none" stroke="#000000" stroke-width="3" x1="3078.041" y1="1570.157" x2="3035.418" y2="1570.157")
              rect(x="2827.453" y="1580.962" fill="none" stroke="#000000" stroke-width="2.2229" width="52.191" height="9.542")
              rect(x="2721.922" y="1581.717" fill="none" stroke="#000000" stroke-width="2.2229" width="43.719" height="8.764")
              rect(x="2618.801" y="1581.426" fill="none" stroke="#000000" stroke-width="2.2229" width="52.969" height="9.737")
              rect(x="3030.682" y="1331.18" fill="none" stroke="#000000" stroke-width="2.2229" width="9.152" height="52.58")
              rect(x="2931.555" y="1052.309" fill="none" stroke="#000000" stroke-width="2.2229" width="9.154" height="70.303")
              line(fill="none" stroke="#000000" stroke-width="3" x1="2978.875" y1="1298.566" x2="2978.682" y2="1183.787")
              line(fill="none" stroke="#000000" stroke-width="3" x1="2978.684" y1="1185.393" x2="2934.887" y2="1185.198")
              rect(x="2722.809" y="1014.893" fill="none" stroke="#000000" stroke-width="2.2229" width="53.75" height="8.374")
              rect(x="2603.625" y="1014.698" fill="none" stroke="#000000" stroke-width="2.2229" width="45.18" height="8.763")
              line(fill="none" stroke="#000000" stroke-width="10" x1="2507.938" y1="1043.67" x2="2531.893" y2="1043.67")
              path(fill="none" stroke="#808080" stroke-width="2.2229" d="M2425.95,1039.93c19.343-11.818,42.376-24.927,81.566,0.338 l0.422,3.402")
              path(fill="none" stroke="#808080" stroke-width="2.2229" d="M2422.067,1046.519c5.868,0.033,5.936,0.677,7.624-0.356 c17.538-10.735,39.883-21.188,73.536,0l4.453,0.117")
              rect(x="2377.181" y="1040.449" fill="none" stroke="#000000" stroke-width="2.2229" width="23.681" height="6.232")
              rect(x="2531.893" y="1040.445" fill="none" stroke="#000000" stroke-width="2.2229" width="24.926" height="6.231")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2129.631" y1="1455.404" x2="2196.312" y2="1455.772")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2194.595" y1="1458.264" x2="2194.532" y2="1418.339")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2194.193" y1="1394.988" x2="2194.137" y2="1359.597")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2802.35" y1="1456.649" x2="2735.672" y2="1457.021")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2737.385" y1="1459.953" x2="2737.449" y2="1417.578")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2737.789" y1="1396.233" x2="2737.846" y2="1360.844")
              path(id="fasad_m" fill="none" stroke="#c4c5c6" d="M2393.545,988.829c42.377-29.912,95.97-34.897,146.384,0.399l4.328-6.014	c-41.033-30.529-105.843-38.008-155.21,0L2393.545,988.829L2393.545,988.829z")
              polyline(fill="none" stroke="#c4c5c6" points="2354.909,1014.713 2354.909,975.12 2400.634,975.282 ")
              polyline(fill="none" stroke="#c4c5c6" points="2362.387,1014.463 2362.387,983.247 2389.045,983.215 ")
              polyline(fill="none" stroke="#c4c5c6" points="2544.057,983.065 2569.293,983.065 2569.423,1013.919 ")
              polyline(fill="none" stroke="#c4c5c6" points="2533.459,975.957 2578.967,975.766 2578.84,1014.037 ")
              path(fill="none" stroke="#000000" d="M2127.6,1165.429l27.345-0.123c-3.192-21.928-18.149-25.667-26.873-25.667")
              path(fill="none" stroke="#000000" d="M2248.463,1133.873l-0.123-27.346c-21.928,3.193-25.667,18.15-25.667,26.875")
              path(fill="none" stroke="#000000" d="M2213.207,1295.507l0.141,32.331c25.106-3.775,29.388-21.459,29.388-31.773")
              path(fill="none" stroke="#000000" d="M1994.711,1200.711l23.68,0.105c-2.765,18.989-15.717,22.227-23.271,22.227")
              path(fill="none" stroke="#000000" d="M2187.896,1183.615l-23.681,0.106c2.766,18.989,15.717,22.228,23.272,22.228")
              path(fill="none" stroke="#000000" d="M2262.465,1225.68l-25.154-0.113c2.938-20.171,16.695-23.609,24.721-23.609")
              path(fill="none" stroke="#000000" d="M2262.905,1269.259l-25.153-0.112c2.937-20.171,16.694-23.61,24.72-23.61")
              path(fill="none" stroke="#000000" d="M2260.781,1165.755l27.346-0.123c-3.193-21.928-18.149-25.667-26.874-25.667")
              path(fill="none" stroke="#000000" d="M2118.1,1352.381l32.331-0.141c-3.774-25.106-21.458-29.388-31.772-29.388")
              path(fill="none" stroke="#000000" d="M2187.975,1217.818l-12.576-0.057c1.469-10.084,8.348-11.804,12.359-11.804")
              rect(x="2331.228" y="1238.1" fill="none" stroke="#000000" width="22.435" height="52.348")
              path(fill="none" stroke="#000000" d="M2343.225,1240.695c-3.174,0.262-7.939,0.069-9.717,7.797l0.049,37.543	c0.008,5.366,5.086,3.77,8.887,4.414")
              path(fill="none" stroke="#000000" d="M2342.444,1240.695c3.174,0.262,7.938,0.069,9.717,7.797l-0.049,37.543	c-0.009,5.366-5.087,3.77-8.887,4.414")
              rect(x="2291.344" y="1275.492" fill="none" stroke="#000000" width="27.42" height="14.956")
              ellipse(fill="none" stroke="#000000" cx="2305.057" cy="1283.149" rx="8.725" ry="5.608")
              rect(x="2268.911" y="1277.984" fill="none" stroke="#000000" width="17.449" height="12.463")
              rect(x="2282.618" y="1179.521" fill="none" stroke="#000000" width="27.421" height="14.957")
              ellipse(fill="none" stroke="#000000" cx="2296.409" cy="1186.801" rx="8.725" ry="5.608")
              path(fill="none" stroke="#000000" d="M2349.847,1206.188c-1.636-1.485-4.29-2.368-7.122-2.368c-4.817,0-8.724,2.511-8.724,5.608	s3.906,5.608,8.724,5.608c2.793,0,5.417-0.859,7.059-2.312")
              rect(x="2349.924" y="1203.203" fill="none" stroke="#000000" width="3.738" height="12.464")
              rect(x="2339.951" y="1067.35" fill="none" stroke="#000000" width="13.71" height="17.449")
              ellipse(fill="none" stroke="#000000" cx="2344.25" cy="1072.658" rx="2.434" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2350.382" cy="1072.812" rx="2.435" ry="2.369")
              ellipse(fill="none" stroke="#000000" cx="2344.34" cy="1079.767" rx="2.434" ry="2.369")
              ellipse(fill="none" stroke="#000000" cx="2350.459" cy="1079.846" rx="2.434" ry="2.369")
              rect(x="2337.458" y="1142.131" fill="none" stroke="#000000" width="16.202" height="23.682")
              rect(x="2339.381" y="1143.773" fill="none" stroke="#000000" width="11.787" height="9.575")
              line(fill="none" stroke="#000000" x1="2339.774" y1="1155.857" x2="2339.774" y2="1164.582")
              line(fill="none" stroke="#000000" x1="2341.604" y1="1155.825" x2="2341.604" y2="1164.55")
              line(fill="none" stroke="#000000" x1="2343.423" y1="1155.891" x2="2343.423" y2="1164.614")
              line(fill="none" stroke="#000000" x1="2345.42" y1="1155.825" x2="2345.42" y2="1164.55")
              line(fill="none" stroke="#000000" x1="2347.251" y1="1155.793" x2="2347.251" y2="1164.518")
              line(fill="none" stroke="#000000" x1="2349.071" y1="1155.857" x2="2349.071" y2="1164.582")
              line(fill="none" stroke="#000000" x1="2351.168" y1="1155.842" x2="2351.168" y2="1164.566")
              rect(x="2070.739" y="1430.041" fill="none" stroke="#000000" width="52.347" height="22.435")
              path(fill="none" stroke="#000000" d="M2120.254,1441.705c-0.262-3.174-0.069-7.939-7.796-9.718l-37.543,0.049 c-5.366,0.009-3.771,5.087-4.415,8.887")
              path(fill="none" stroke="#000000" d="M2120.254,1440.923c-0.262,3.174-0.069,7.938-7.796,9.718l-37.543-0.05	c-5.366-0.009-3.771-5.087-4.415-8.887")
              rect(x="2138.858" y="1430.041" fill="none" stroke="#000000" width="52.347" height="22.434")
              path(fill="none" stroke="#000000" d="M2141.689,1440.809c0.261,3.174,0.069,7.939,7.796,9.718l37.543-0.049 c5.366-0.009,3.77-5.087,4.414-8.887")
              path(fill="none" stroke="#000000" d="M2141.689,1441.591c0.261-3.174,0.069-7.938,7.796-9.718l37.543,0.05 c5.366,0.009,3.77,5.086,4.414,8.886")
              rect(x="2137.022" y="1397.634" fill="none" stroke="#000000" width="14.956" height="27.42")
              ellipse(fill="none" stroke="#000000" cx="2144.301" cy="1411.266" rx="5.609" ry="8.724")
              rect(x="2112.433" y="1397.131" fill="none" stroke="#000000" width="14.956" height="27.42")
              ellipse(fill="none" stroke="#000000" cx="2119.711" cy="1410.763" rx="5.609" ry="8.724")
              path(fill="none" stroke="#000000" d="M2123.539,1381.002c-1.636-1.485-4.29-2.368-7.121-2.368c-4.818,0-8.725,2.511-8.725,5.608	s3.906,5.609,8.725,5.609c2.792,0,5.416-0.859,7.058-2.312")
              rect(x="2123.616" y="1378.018" fill="none" stroke="#000000" width="3.739" height="12.463")
              path(fill="none" stroke="#000000" d="M2141.005,1381.053c1.636-1.485,4.291-2.369,7.122-2.369c4.818,0,8.724,2.512,8.724,5.609 s-3.905,5.608-8.724,5.608c-2.793,0-5.417-0.859-7.058-2.312")
              rect(x="2137.192" y="1378.067" fill="none" stroke="#000000" width="3.738" height="12.464")
              rect(x="2110.013" y="1459.743" fill="none" stroke="#000000" width="16.202" height="23.681")
              rect(x="2111.936" y="1461.386" fill="none" stroke="#000000" width="11.787" height="9.576")
              line(fill="none" stroke="#000000" x1="2112.327" y1="1473.47" x2="2112.327" y2="1482.195")
              line(fill="none" stroke="#000000" x1="2114.159" y1="1473.438" x2="2114.159" y2="1482.164")
              line(fill="none" stroke="#000000" x1="2115.977" y1="1473.505" x2="2115.977" y2="1482.228")
              line(fill="none" stroke="#000000" x1="2117.976" y1="1473.438" x2="2117.976" y2="1482.164")
              line(fill="none" stroke="#000000" x1="2119.806" y1="1473.406" x2="2119.806" y2="1482.129")
              line(fill="none" stroke="#000000" x1="2121.626" y1="1473.47" x2="2121.626" y2="1482.195")
              line(fill="none" stroke="#000000" x1="2123.721" y1="1473.454" x2="2123.721" y2="1482.18")
              rect(x="2138.042" y="1459.953" fill="none" stroke="#000000" width="16.203" height="23.681")
              rect(x="2139.964" y="1461.595" fill="none" stroke="#000000" width="11.787" height="9.576")
              line(fill="none" stroke="#000000" x1="2140.357" y1="1473.68" x2="2140.357" y2="1482.402")
              line(fill="none" stroke="#000000" x1="2142.187" y1="1473.647" x2="2142.187" y2="1482.37")
              line(fill="none" stroke="#000000" x1="2144.006" y1="1473.711" x2="2144.006" y2="1482.437")
              line(fill="none" stroke="#000000" x1="2146.004" y1="1473.647" x2="2146.004" y2="1482.37")
              line(fill="none" stroke="#000000" x1="2147.834" y1="1473.613" x2="2147.834" y2="1482.339")
              line(fill="none" stroke="#000000" x1="2149.655" y1="1473.68" x2="2149.655" y2="1482.402")
              line(fill="none" stroke="#000000" x1="2151.752" y1="1473.663" x2="2151.752" y2="1482.387")
              rect(x="2112.477" y="1546.828" fill="none" stroke="#000000" width="13.71" height="17.449")
              ellipse(fill="none" stroke="#000000" cx="2116.776" cy="1552.134" rx="2.435" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2122.909" cy="1552.291" rx="2.434" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2116.866" cy="1559.244" rx="2.435" ry="2.369")
              ellipse(fill="none" stroke="#000000" cx="2122.985" cy="1559.324" rx="2.435" ry="2.37")
              rect(x="2138.01" y="1546.783" fill="none" stroke="#000000" width="13.709" height="17.449")
              ellipse(fill="none" stroke="#000000" cx="2141.639" cy="1552.291" rx="2.434" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2147.771" cy="1552.447" rx="2.435" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2141.726" cy="1559.4" rx="2.435" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2147.848" cy="1559.48" rx="2.434" ry="2.37")
              path(fill="none" stroke="#000000" d="M1896.733,1507.289l23.681,0.105c-2.766,18.989-15.718,22.227-23.272,22.227")
              path(fill="none" stroke="#000000" d="M2023.303,1339.057l-27.346,0.123c3.193,21.928,18.149,25.667,26.873,25.667")
              path(fill="none" stroke="#000000" d="M2023.099,1465.756l-25.155-0.1c2.938-17.752,16.695-20.779,24.721-20.779")
              path(fill="none" stroke="#000000" d="M2023.181,1433.779l-13.359,0.053c1.56,9.428,8.867,11.035,13.13,11.035")
              path(fill="none" stroke="#000000" d="M2067.388,1418.307l-25.153-0.113c2.938-20.17,16.695-23.609,24.72-23.609")
              path(fill="none" stroke="#000000" d="M2037.073,1469.24l0.123,27.346c21.928-3.193,25.666-18.15,25.666-26.875")
              rect(x="2079.463" y="1368.969" fill="none" stroke="#000000" width="17.449" height="14.956")
              rect(x="2172.941" y="1368.969" fill="none" stroke="#000000" width="18.695" height="14.956")
              path(fill="none" stroke="#000000" d="M2222.412,1456.289l-0.12,27.346c-21.345-3.193-24.984-18.149-24.984-26.873")
              path(fill="none" stroke="#000000" d="M2244.692,1426.359l0.122,27.346c21.928-3.193,25.667-18.149,25.667-26.874")
              path(fill="none" stroke="#000000" d="M2192.881,1395.1l25.154,0.113c-2.938,20.17-16.695,23.609-24.721,23.609")
              path(fill="none" stroke="#000000" d="M2285.675,1364.264l0.14-32.33c25.107,3.775,29.389,21.458,29.389,31.773")
              path(fill="none" stroke="#000000" d="M2338.481,1379.368l23.904,0.104c-2.791,18.629-15.865,21.806-23.492,21.806")
              path(fill="none" stroke="#000000" d="M2338.396,1412.924l14.02-0.055c-1.638-9.895-9.305-11.581-13.778-11.581")
              path(fill="none" stroke="#000000" d="M2385.398,1553.43l0.113-23.167c20.18,2.706,23.62,15.376,23.62,22.768")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2229.249" y1="1455.836" x2="2222.2" y2="1455.85")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2338.934" y1="1453.881" x2="2338.86" y2="1413.245")
              path(fill="none" stroke="#000000" d="M2804.699,1164.183l-27.346-0.123c3.193-21.928,18.15-25.667,26.873-25.667")
              path(fill="none" stroke="#000000" d="M2683.836,1132.627l0.123-27.346c21.928,3.193,25.666,18.149,25.666,26.874")
              path(fill="none" stroke="#000000" d="M2719.092,1294.262l-0.141,32.331c-25.105-3.775-29.387-21.459-29.387-31.773")
              path(fill="none" stroke="#000000" d="M2937.586,1199.464l-23.68,0.106c2.764,18.989,15.717,22.227,23.271,22.227")
              path(fill="none" stroke="#000000" d="M2744.402,1182.369l23.682,0.106c-2.766,18.989-15.719,22.227-23.273,22.227")
              path(fill="none" stroke="#000000" d="M2669.834,1224.435l25.154-0.113c-2.938-20.171-16.695-23.61-24.721-23.61")
              path(fill="none" stroke="#000000" d="M2669.395,1268.014l25.152-0.113c-2.936-20.17-16.693-23.609-24.719-23.609")
              path(fill="none" stroke="#000000" d="M2671.518,1164.509l-27.346-0.123c3.193-21.928,18.15-25.667,26.875-25.667")
              path(fill="none" stroke="#000000" d="M2814.199,1351.137l-32.332-0.141c3.775-25.107,21.459-29.389,31.773-29.389")
              path(fill="none" stroke="#000000" d="M2744.322,1216.572l12.578-0.057c-1.469-10.084-8.348-11.805-12.359-11.805")
              path(fill="none" stroke="#000000" d="M3035.566,1506.043l-23.68,0.107c2.764,18.988,15.717,22.227,23.271,22.227")
              path(fill="none" stroke="#000000" d="M2908.996,1337.81l27.346,0.123c-3.193,21.928-18.148,25.667-26.873,25.667")
              path(fill="none" stroke="#000000" d="M2909.201,1464.509l25.154-0.1c-2.938-17.752-16.695-20.779-24.721-20.779")
              path(fill="none" stroke="#000000" d="M2909.117,1432.534l13.359,0.053c-1.561,9.429-8.867,11.036-13.131,11.036")
              path(fill="none" stroke="#000000" stroke-width="1" d="M2864.908,1417.062l25.154-0.113 c-2.938-20.171-16.695-23.61-24.721-23.61")
              path(fill="none" stroke="#000000" d="M2895.225,1467.995l-0.123,27.345c-21.926-3.192-25.666-18.148-25.666-26.873")
              path(fill="none" stroke="#000000" d="M2709.887,1455.041l0.121,27.346c21.344-3.193,24.984-18.148,24.984-26.873")
              path(fill="none" stroke="#000000" d="M2687.607,1425.111l-0.123,27.346c-21.928-3.192-25.666-18.148-25.666-26.873")
              path(fill="none" stroke="#000000" d="M2739.418,1393.855l-25.154,0.112c2.938,20.171,16.695,23.61,24.721,23.61")
              path(fill="none" stroke="#000000" d="M2593.814,1378.123l-23.904,0.104c2.793,18.629,15.867,21.806,23.492,21.806")
              path(fill="none" stroke="#000000" d="M2593.902,1411.677l-14.02-0.056c1.637-9.894,9.305-11.581,13.779-11.581")
              path(fill="none" stroke="#000000" d="M2546.9,1552.182l-0.113-23.166c-20.18,2.705-23.619,15.375-23.619,22.767")
              line(fill="none" stroke="#000000" stroke-width="5" x1="2709.9" y1="1457.881" x2="2702.85" y2="1457.895")
              rect(x="2578.402" y="1238.489" fill="none" stroke="#000000" width="22.434" height="52.347")
              path(fill="none" stroke="#000000" d="M2588.838,1241.085c3.174,0.262,7.939,0.069,9.717,7.796l-0.049,37.543 c-0.008,5.367-5.086,3.77-8.887,4.414")
              path(fill="none" stroke="#000000" d="M2589.619,1241.085c-3.174,0.262-7.938,0.069-9.717,7.796l0.049,37.543 c0.01,5.367,5.088,3.77,8.887,4.414")
              ellipse(fill="none" stroke="#000000" cx="2627.006" cy="1283.536" rx="8.725" ry="5.608")
              rect(x="2645.705" y="1278.373" fill="none" stroke="#000000" width="17.449" height="12.464")
              rect(x="2613.299" y="1275.881" fill="none" stroke="#000000" width="27.42" height="14.956")
              rect(x="2622.023" y="1179.911" fill="none" stroke="#000000" width="27.42" height="14.956")
              ellipse(fill="none" stroke="#000000" cx="2635.654" cy="1187.189" rx="8.725" ry="5.608")
              path(fill="none" stroke="#000000" d="M2582.217,1206.578c1.635-1.486,4.289-2.369,7.121-2.369c4.818,0,8.725,2.511,8.725,5.608 s-3.906,5.608-8.725,5.608c-2.793,0-5.416-0.859-7.059-2.311")
              rect(x="2578.402" y="1203.592" fill="none" stroke="#000000" width="3.738" height="12.464")
              rect(x="2578.402" y="1067.739" fill="none" stroke="#000000" width="13.709" height="17.449")
              ellipse(fill="none" stroke="#000000" cx="2587.812" cy="1073.046" rx="2.436" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2581.682" cy="1073.201" rx="2.434" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2587.723" cy="1080.156" rx="2.436" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2581.604" cy="1080.235" rx="2.436" ry="2.37")
              rect(x="2578.402" y="1142.521" fill="none" stroke="#000000" width="16.201" height="23.681")
              rect(x="2580.895" y="1144.162" fill="none" stroke="#000000" width="11.787" height="9.576")
              line(fill="none" stroke="#000000" x1="2592.289" y1="1156.246" x2="2592.289" y2="1164.971")
              line(fill="none" stroke="#000000" x1="2590.459" y1="1156.215" x2="2590.459" y2="1164.938")
              line(fill="none" stroke="#000000" x1="2588.639" y1="1156.279" x2="2588.639" y2="1165.004")
              line(fill="none" stroke="#000000" x1="2586.643" y1="1156.215" x2="2586.643" y2="1164.938")
              line(fill="none" stroke="#000000" x1="2584.812" y1="1156.182" x2="2584.812" y2="1164.906")
              line(fill="none" stroke="#000000" x1="2582.992" y1="1156.246" x2="2582.992" y2="1164.971")
              line(fill="none" stroke="#000000" x1="2580.895" y1="1156.23" x2="2580.895" y2="1164.955")
              rect(x="2808.977" y="1430.428" fill="none" stroke="#000000" width="52.348" height="22.435")
              path(fill="none" stroke="#000000" d="M2811.809,1442.094c0.262-3.174,0.07-7.938,7.797-9.717l37.543,0.049 c5.365,0.009,3.77,5.087,4.414,8.887")
              path(fill="none" stroke="#000000" d="M2811.809,1441.312c0.262,3.174,0.07,7.938,7.797,9.717l37.543-0.049 c5.365-0.009,3.77-5.087,4.414-8.887")
              rect(x="2740.859" y="1430.43" fill="none" stroke="#000000" width="52.346" height="22.435")
              path(fill="none" stroke="#000000" d="M2790.375,1441.199c-0.262,3.173-0.07,7.938-7.797,9.717l-37.543-0.049	c-5.367-0.009-3.77-5.087-4.414-8.887")
              path(fill="none" stroke="#000000" d="M2790.375,1441.98c-0.262-3.174-0.07-7.939-7.797-9.718l-37.543,0.05 c-5.367,0.008-3.77,5.086-4.414,8.887")
              rect(x="2780.086" y="1398.023" fill="none" stroke="#000000" width="14.955" height="27.42")
              ellipse(fill="none" stroke="#000000" cx="2787.763" cy="1411.655" rx="5.608" ry="8.725")
              rect(x="2804.672" y="1397.52" fill="none" stroke="#000000" width="14.957" height="27.42")
              ellipse(fill="none" stroke="#000000" cx="2812.353" cy="1411.152" rx="5.608" ry="8.725")
              path(fill="none" stroke="#000000" d="M2808.525,1381.392c1.635-1.485,4.289-2.368,7.121-2.368c4.818,0,8.725,2.511,8.725,5.608	s-3.906,5.608-8.725,5.608c-2.793,0-5.418-0.859-7.059-2.312")
              rect(x="2804.711" y="1378.406" fill="none" stroke="#000000" width="3.738" height="12.464")
              path(fill="none" stroke="#000000" d="M2791.057,1381.442c-1.635-1.485-4.289-2.369-7.121-2.369c-4.818,0-8.725,2.512-8.725,5.609	c0,3.097,3.906,5.608,8.725,5.608c2.793,0,5.416-0.859,7.059-2.312")
              rect(x="2791.135" y="1378.457" fill="none" stroke="#000000" width="3.738" height="12.463")
              rect(x="2805.846" y="1460.133" fill="none" stroke="#000000" width="16.203" height="23.682")
              rect(x="2808.342" y="1461.775" fill="none" stroke="#000000" width="11.787" height="9.576")
              line(fill="none" stroke="#000000" x1="2819.736" y1="1473.859" x2="2819.736" y2="1482.585")
              line(fill="none" stroke="#000000" x1="2817.904" y1="1473.828" x2="2817.904" y2="1482.551")
              line(fill="none" stroke="#000000" x1="2816.086" y1="1473.891" x2="2816.086" y2="1482.617")
              line(fill="none" stroke="#000000" x1="2814.088" y1="1473.828" x2="2814.088" y2="1482.551")
              line(fill="none" stroke="#000000" x1="2812.256" y1="1473.796" x2="2812.256" y2="1482.519")
              line(fill="none" stroke="#000000" x1="2810.438" y1="1473.859" x2="2810.438" y2="1482.585")
              line(fill="none" stroke="#000000" x1="2808.342" y1="1473.844" x2="2808.342" y2="1482.568")
              rect(x="2777.818" y="1460.342" fill="none" stroke="#000000" width="16.203" height="23.682")
              rect(x="2780.311" y="1461.981" fill="none" stroke="#000000" width="11.787" height="9.577")
              line(fill="none" stroke="#000000" x1="2791.707" y1="1474.068" x2="2791.707" y2="1482.791")
              line(fill="none" stroke="#000000" x1="2789.875" y1="1474.034" x2="2789.875" y2="1482.76")
              line(fill="none" stroke="#000000" x1="2788.057" y1="1474.101" x2="2788.057" y2="1482.826")
              line(fill="none" stroke="#000000" x1="2786.059" y1="1474.034" x2="2786.059" y2="1482.76")
              line(fill="none" stroke="#000000" x1="2784.229" y1="1474.002" x2="2784.229" y2="1482.729")
              line(fill="none" stroke="#000000" x1="2782.408" y1="1474.068" x2="2782.408" y2="1482.791")
              line(fill="none" stroke="#000000" x1="2780.311" y1="1474.053" x2="2780.311" y2="1482.775")
              rect(x="2805.875" y="1547.215" fill="none" stroke="#000000" width="13.711" height="17.449")
              ellipse(fill="none" stroke="#000000" cx="2815.287" cy="1552.524" rx="2.434" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2809.154" cy="1552.677" rx="2.436" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2815.197" cy="1559.633" rx="2.434" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2809.078" cy="1559.713" rx="2.434" ry="2.369")
              rect(x="2780.342" y="1547.173" fill="none" stroke="#000000" width="13.711" height="17.449")
              ellipse(fill="none" stroke="#000000" cx="2789.754" cy="1552.479" rx="2.434" ry="2.369")
              ellipse(fill="none" stroke="#000000" cx="2783.623" cy="1552.632" rx="2.434" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2789.666" cy="1559.588" rx="2.436" ry="2.37")
              ellipse(fill="none" stroke="#000000" cx="2783.545" cy="1559.668" rx="2.434" ry="2.369")
              rect(x="2835.15" y="1369.357" fill="none" stroke="#000000" width="17.449" height="14.957")
              rect(x="2740.426" y="1369.357" fill="none" stroke="#000000" width="18.695" height="14.957")
              path(fill="none" stroke="#000000" d="M2646.172,1362.736l-0.141-32.332c-25.107,3.775-29.389,21.459-29.389,31.773")
              line(fill="none" stroke="#000000" stroke-width="3" x1="2466.203" y1="1590.539" x2="2593.424" y2="1590.988")
              g.txt-home-1
                path(fill="#666666" d="M2043.351,1103.679l2.881-2.989c1.71-1.783,2.863-3.097,2.863-4.826c0-1.603-0.774-2.395-2.484-2.395 c-1.026,0-1.999,0.504-2.701,0.99l-0.414-1.134c0.756-0.486,1.981-1.098,3.349-1.098c2.431,0,3.745,1.35,3.745,3.511 c0,2.089-1.26,3.529-3.349,5.654l-1.891,1.909h5.51v1.224h-7.508V1103.679z")
                path(fill="#666666" d="M2055.052,1093.884l-2.233,0.522v-0.829l2.845-1.333h0.756v12.352h-1.368V1093.884z")
                path(fill="#666666" d="M2059.065,1103.354h1.639l-1.333,3.511h-0.972L2059.065,1103.354z")
                path(fill="#666666" d="M2063.241,1103.679l2.881-2.989c1.71-1.783,2.863-3.097,2.863-4.826c0-1.603-0.774-2.395-2.484-2.395 c-1.026,0-1.999,0.504-2.701,0.99l-0.414-1.134c0.756-0.486,1.98-1.098,3.349-1.098c2.431,0,3.745,1.35,3.745,3.511	c0,2.089-1.26,3.529-3.349,5.654l-1.891,1.909h5.51v1.224h-7.508V1103.679z")
                path(fill="#666666" d="M2073.141,1095.612h1.747l1.657,4.52c0.234,0.666,0.63,1.747,0.828,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.697h-1.369l-0.216-4.25c-0.036-0.936-0.108-2.035-0.144-3.115	h-0.072c-0.198,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09	c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.213h-1.368L2073.141,1095.612z")
                path(fill="#666666" d="M2083.741,1104.302l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.518-1.463		c-0.627,0-1.221,0.308-1.65,0.605l-0.253-0.693c0.462-0.297,1.21-0.671,2.046-0.671c1.485,0,2.289,0.825,2.289,2.145 c0,1.276-0.771,2.157-2.046,3.455l-1.155,1.167h3.366v0.748h-4.587V1104.302z")
              g.txt-home-1
                path(fill="#666666" d="M2285.841,1093.884l-2.233,0.522v-0.829l2.845-1.333h0.756v12.352h-1.368V1093.884z")
                path(fill="#666666" d="M2289.583,1103.823l0.27-1.152c0.667,0.45,1.855,0.864,2.845,0.864c1.908,0,3.025-1.08,3.025-2.791		c0-1.837-1.081-2.575-2.971-2.575c-0.828,0-1.962,0.342-2.521,0.594l0.432-6.338h6.122v1.225h-4.969l-0.252,3.673	c0.486-0.126,1.225-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.691c0,2.161-1.584,3.979-4.249,3.979		C2291.564,1104.741,2290.304,1104.345,2289.583,1103.823z")
                path(fill="#666666" d="M2298.656,1103.354h1.639l-1.333,3.511h-0.972L2298.656,1103.354z")
                path(fill="#666666" d="M2302.634,1103.841l0.306-1.134c0.684,0.45,1.89,0.792,2.791,0.792c1.999,0,3.115-0.882,3.115-2.376 c0-1.548-1.188-2.287-3.024-2.287h-1.17v-1.225h1.08c1.566,0,2.629-0.792,2.629-2.143c0-1.477-0.955-1.999-2.431-1.999 c-0.99,0-1.927,0.432-2.683,0.864l-0.216-1.152c0.72-0.486,2.143-0.937,3.187-0.937c2.161,0,3.637,1.099,3.637,2.989 c0,1.494-0.937,2.376-2.305,2.827c1.566,0.306,2.754,1.188,2.754,3.061c0,2.106-1.71,3.583-4.393,3.583 C2304.506,1104.705,2303.3,1104.309,2302.634,1103.841z")
                path(fill="#666666" d="M2312.786,1095.612h1.747l1.657,4.52c0.234,0.666,0.63,1.747,0.828,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.697h-1.369l-0.216-4.25c-0.036-0.936-0.108-2.035-0.144-3.115 h-0.072c-0.198,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09 c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.213h-1.368L2312.786,1095.612z")
                path(fill="#666666" d="M2323.385,1104.302l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.518-1.463		c-0.627,0-1.221,0.308-1.65,0.605l-0.253-0.693c0.462-0.297,1.21-0.671,2.046-0.671c1.485,0,2.289,0.825,2.289,2.145 c0,1.276-0.771,2.157-2.046,3.455l-1.155,1.167h3.366v0.748h-4.587V1104.302z")
              g.txt-home-1
                path(fill="#666666" d="M2169.789,1076.062l-2.233,0.522v-0.829l2.845-1.333h0.756v12.352h-1.368V1076.062z")
                path(fill="#666666" d="M2174.018,1081.5v-0.936c0-4.267,1.891-6.14,4.681-6.14c1.207,0,2.323,0.415,2.827,0.721l-0.414,1.044		c-0.432-0.252-1.495-0.558-2.269-0.558c-2.052,0-3.205,1.044-3.385,4.808c0.648-0.667,1.639-1.296,2.989-1.296 c2.017,0,3.637,1.386,3.637,3.691s-1.477,4.087-3.925,4.087C2175.458,1086.92,2174.018,1084.939,2174.018,1081.5z	M2180.644,1082.977c0-1.891-1.026-2.629-2.485-2.629c-1.152,0-2.197,0.811-2.701,1.531v0.126c0,2.25,0.756,3.727,2.683,3.727C2179.707,1085.731,2180.644,1084.705,2180.644,1082.977z")
                path(fill="#666666" d="M2183.414,1085.533h1.639l-1.333,3.511h-0.972L2183.414,1085.533z")
                path(fill="#666666" d="M2187.589,1085.857l2.881-2.989c1.71-1.783,2.863-3.097,2.863-4.826c0-1.603-0.774-2.395-2.484-2.395 c-1.026,0-1.999,0.504-2.701,0.99l-0.414-1.134c0.756-0.486,1.98-1.098,3.349-1.098c2.431,0,3.745,1.35,3.745,3.511	c0,2.089-1.26,3.529-3.349,5.654l-1.891,1.909h5.51v1.224h-7.508V1085.857z")
                path(fill="#666666" d="M2197.489,1077.791h1.747l1.657,4.52c0.234,0.666,0.63,1.747,0.828,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.697h-1.369l-0.216-4.25c-0.036-0.936-0.108-2.035-0.144-3.115	h-0.072c-0.198,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09 c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.213h-1.368L2197.489,1077.791z")
                path(fill="#666666" d="M2208.089,1086.481l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.221,0.308-1.65,0.605l-0.253-0.693c0.462-0.297,1.21-0.671,2.046-0.671c1.485,0,2.289,0.825,2.289,2.145	c0,1.276-0.771,2.157-2.046,3.455l-1.155,1.167h3.366v0.748h-4.587V1086.481z")
              g.txt-home-1
                path(fill="#666666" d="M2280.74,1216.36l0.27-1.152c0.667,0.45,1.855,0.864,2.845,0.864c1.908,0,3.025-1.08,3.025-2.791	c0-1.837-1.081-2.575-2.971-2.575c-0.828,0-1.962,0.342-2.521,0.594l0.432-6.338h6.122v1.225h-4.969l-0.252,3.673	c0.486-0.126,1.225-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.691c0,2.161-1.584,3.979-4.249,3.979 C2282.72,1217.278,2281.46,1216.882,2280.74,1216.36z")
                path(fill="#666666" d="M2289.812,1215.892h1.639l-1.333,3.511h-0.972L2289.812,1215.892z")
                path(fill="#666666" d="M2293.394,1211.499v-1.008c0-4.268,2.071-5.708,4.447-5.708c2.359,0,4.304,1.44,4.304,5.636v1.099 c0,4.087-1.873,5.762-4.321,5.762C2295.339,1217.278,2293.394,1215.586,2293.394,1211.499z M2300.687,1211.732v-1.332 c0-3.043-0.991-4.43-2.845-4.43c-1.891,0-2.917,1.314-2.917,4.339v1.333c0,3.007,1.008,4.447,2.899,4.447		C2299.678,1216.09,2300.687,1214.83,2300.687,1211.732z")
                path(fill="#666666" d="M2304.896,1208.149h1.747l1.657,4.52c0.234,0.666,0.63,1.747,0.828,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.697h-1.369l-0.216-4.25c-0.036-0.936-0.108-2.035-0.144-3.115	h-0.072c-0.198,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09	c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.213h-1.368L2304.896,1208.149z")
                path(fill="#666666" d="M2315.496,1216.839l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.518-1.463		c-0.627,0-1.221,0.308-1.65,0.605l-0.253-0.693c0.462-0.297,1.21-0.671,2.046-0.671c1.485,0,2.289,0.825,2.289,2.145 c0,1.276-0.771,2.157-2.046,3.455l-1.155,1.167h3.366v0.748h-4.587V1216.839z")
              g.txt-home-1
                path(fill="#666666" d="M2280.226,1258.012v-0.936c0-4.267,1.891-6.14,4.681-6.14c1.207,0,2.323,0.415,2.827,0.721l-0.414,1.044		c-0.432-0.252-1.495-0.558-2.269-0.558c-2.052,0-3.205,1.044-3.385,4.808c0.648-0.667,1.639-1.296,2.989-1.296	c2.017,0,3.637,1.386,3.637,3.691s-1.477,4.087-3.925,4.087C2281.667,1263.432,2280.226,1261.451,2280.226,1258.012z M2286.852,1259.488c0-1.891-1.026-2.629-2.485-2.629c-1.152,0-2.197,0.811-2.701,1.531v0.126c0,2.25,0.756,3.727,2.683,3.727 C2285.916,1262.243,2286.852,1261.217,2286.852,1259.488z")
                path(fill="#666666" d="M2289.622,1262.045h1.639l-1.333,3.511h-0.972L2289.622,1262.045z")
                path(fill="#666666" d="M2293.204,1257.652v-1.008c0-4.268,2.071-5.708,4.447-5.708c2.359,0,4.303,1.44,4.303,5.636v1.099 c0,4.087-1.872,5.762-4.321,5.762C2295.149,1263.432,2293.204,1261.739,2293.204,1257.652z M2300.497,1257.886v-1.332 c0-3.043-0.99-4.43-2.845-4.43c-1.89,0-2.917,1.314-2.917,4.339v1.333c0,3.007,1.008,4.447,2.898,4.447 C2299.488,1262.243,2300.497,1260.983,2300.497,1257.886z")
                path(fill="#666666" d="M2304.706,1254.303h1.747l1.656,4.52c0.234,0.666,0.63,1.747,0.829,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.697h-1.368l-0.216-4.25c-0.036-0.936-0.108-2.035-0.145-3.115 h-0.072c-0.198,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09	c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.213h-1.368L2304.706,1254.303z")
                path(fill="#666666" d="M2315.306,1262.993l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.221,0.308-1.65,0.605l-0.253-0.693c0.462-0.297,1.21-0.671,2.046-0.671c1.485,0,2.288,0.825,2.288,2.145	c0,1.276-0.77,2.157-2.046,3.455l-1.155,1.167h3.366v0.748h-4.587V1262.993z")
              g.txt-home-1
                path(fill="#666666" d="M2066.25,1239.093l2.881-2.989c1.71-1.783,2.863-3.097,2.863-4.826c0-1.603-0.774-2.395-2.484-2.395 c-1.026,0-1.999,0.504-2.701,0.99l-0.414-1.134c0.756-0.486,1.981-1.098,3.349-1.098c2.431,0,3.745,1.35,3.745,3.511 c0,2.089-1.26,3.529-3.349,5.654l-1.891,1.909h5.51v1.224h-7.508V1239.093z")
                path(fill="#666666" d="M2075.267,1239.237l0.27-1.152c0.667,0.45,1.855,0.864,2.845,0.864c1.908,0,3.025-1.08,3.025-2.791 c0-1.837-1.081-2.575-2.971-2.575c-0.828,0-1.962,0.342-2.521,0.594l0.432-6.338h6.122v1.225h-4.969l-0.252,3.673	c0.486-0.126,1.225-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.691c0,2.161-1.584,3.979-4.249,3.979 C2077.248,1240.155,2075.987,1239.759,2075.267,1239.237z")
                path(fill="#666666" d="M2084.339,1238.769h1.639l-1.333,3.511h-0.972L2084.339,1238.769z")
                path(fill="#666666" d="M2088.317,1239.255l0.306-1.134c0.684,0.45,1.89,0.792,2.791,0.792c1.999,0,3.115-0.882,3.115-2.376 c0-1.548-1.188-2.287-3.024-2.287h-1.17v-1.225h1.08c1.566,0,2.629-0.792,2.629-2.143c0-1.477-0.955-1.999-2.431-1.999 c-0.99,0-1.927,0.432-2.683,0.864l-0.216-1.152c0.72-0.486,2.143-0.937,3.187-0.937c2.161,0,3.637,1.099,3.637,2.989	c0,1.494-0.937,2.376-2.305,2.827c1.566,0.306,2.754,1.188,2.754,3.061c0,2.106-1.71,3.583-4.393,3.583 C2090.19,1240.119,2088.983,1239.723,2088.317,1239.255z")
                path(fill="#666666" d="M2098.469,1231.026h1.747l1.657,4.52c0.234,0.666,0.63,1.747,0.828,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.697h-1.369l-0.216-4.25c-0.036-0.936-0.108-2.035-0.144-3.115 h-0.072c-0.198,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09	c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.213h-1.368L2098.469,1231.026z")
                path(fill="#666666" d="M2109.069,1239.716l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.518-1.463	c-0.627,0-1.221,0.308-1.65,0.605l-0.253-0.693c0.462-0.297,1.21-0.671,2.046-0.671c1.485,0,2.289,0.825,2.289,2.145 c0,1.276-0.771,2.157-2.046,3.455l-1.155,1.167h3.366v0.748h-4.587V1239.716z")
              g.txt-home-2
                path(fill="#666666" d="M1943.351,1503.882l2.881-2.989c1.71-1.782,2.863-3.097,2.863-4.825c0-1.603-0.774-2.395-2.484-2.395 c-1.026,0-1.999,0.504-2.701,0.99l-0.414-1.134c0.756-0.486,1.981-1.099,3.349-1.099c2.431,0,3.745,1.351,3.745,3.511	c0,2.089-1.26,3.529-3.349,5.654l-1.891,1.908h5.51v1.225h-7.508V1503.882z")
                path(fill="#666666" d="M1955.052,1494.087l-2.233,0.522v-0.828l2.845-1.333h0.756v12.353h-1.368V1494.087z")
                path(fill="#666666" d="M1959.065,1503.558h1.639l-1.333,3.511h-0.972L1959.065,1503.558z")
                path(fill="#666666" d="M1962.665,1504.025l0.27-1.152c0.667,0.451,1.854,0.865,2.845,0.865c1.908,0,3.025-1.08,3.025-2.791 c0-1.837-1.081-2.575-2.971-2.575c-0.828,0-1.962,0.343-2.521,0.595l0.432-6.338h6.122v1.225h-4.969l-0.252,3.672 c0.486-0.125,1.224-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.691c0,2.16-1.584,3.979-4.249,3.979 C1964.646,1504.944,1963.385,1504.548,1962.665,1504.025z")
                path(fill="#666666" d="M1972.529,1495.815h1.747l1.657,4.52c0.234,0.666,0.63,1.747,0.828,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.696h-1.369l-0.216-4.249c-0.036-0.937-0.108-2.034-0.144-3.114	h-0.072c-0.198,0.738-0.468,1.477-0.99,2.826l-1.729,4.502h-1.026l-1.603-4.43c-0.288-0.811-0.684-2.07-0.9-2.881h-0.09 c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.213h-1.368L1972.529,1495.815z")
                path(fill="#666666" d="M1983.128,1504.506l1.76-1.826c1.045-1.09,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.221,0.308-1.65,0.605l-0.253-0.693c0.462-0.297,1.21-0.672,2.046-0.672c1.485,0,2.289,0.826,2.289,2.146 c0,1.276-0.771,2.157-2.046,3.454l-1.155,1.167h3.366v0.748h-4.587V1504.506z")
              g.txt-home-2
                path(fill="#666666" d="M1939.458,1359.758l-2.233,0.522v-0.829l2.845-1.332h0.756v12.352h-1.368V1359.758z")
                path(fill="#666666" d="M1943.687,1365.195v-0.936c0-4.268,1.891-6.141,4.681-6.141c1.207,0,2.323,0.414,2.827,0.721l-0.414,1.044		c-0.432-0.252-1.495-0.558-2.269-0.558c-2.052,0-3.205,1.044-3.385,4.807c0.648-0.666,1.639-1.296,2.989-1.296	c2.017,0,3.637,1.386,3.637,3.69s-1.477,4.088-3.925,4.088C1945.127,1370.615,1943.687,1368.635,1943.687,1365.195z	M1950.313,1366.672c0-1.891-1.026-2.629-2.485-2.629c-1.152,0-2.197,0.811-2.701,1.531v0.125c0,2.251,0.756,3.728,2.683,3.728 C1949.376,1369.427,1950.313,1368.4,1950.313,1366.672z")
                path(fill="#666666" d="M1953.083,1369.229h1.639l-1.333,3.512h-0.972L1953.083,1369.229z")
                path(fill="#666666" d="M1962.301,1359.578h-6.14v-1.207h7.706v0.918l-4.735,11.182h-1.584L1962.301,1359.578z")
                path(fill="#666666" d="M1965.791,1361.486h1.747l1.656,4.52c0.234,0.666,0.63,1.746,0.829,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.697h-1.368l-0.216-4.25c-0.036-0.936-0.108-2.035-0.145-3.115 h-0.072c-0.198,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09	c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.214h-1.368L1965.791,1361.486z")
                path(fill="#666666" d="M1976.391,1370.176l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.948c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.221,0.308-1.65,0.604l-0.253-0.693c0.462-0.297,1.21-0.67,2.046-0.67c1.485,0,2.288,0.824,2.288,2.145	c0,1.276-0.77,2.156-2.046,3.455l-1.155,1.166h3.366v0.748h-4.587V1370.176z")
              g.txt-home-2
                path(fill="#666666" d="M2054.19,1517.865l-2.233,0.522v-0.829l2.845-1.332h0.756v12.352h-1.368V1517.865z")
                path(fill="#666666" d="M2058.312,1527.822l0.306-1.135c0.684,0.451,1.89,0.793,2.791,0.793c1.999,0,3.115-0.883,3.115-2.377 c0-1.549-1.188-2.287-3.024-2.287h-1.17v-1.225h1.08c1.566,0,2.629-0.791,2.629-2.143c0-1.477-0.955-1.998-2.431-1.998	c-0.99,0-1.927,0.432-2.683,0.864l-0.216-1.152c0.72-0.486,2.143-0.937,3.187-0.937c2.161,0,3.637,1.099,3.637,2.989 c0,1.494-0.937,2.376-2.305,2.827c1.566,0.306,2.754,1.188,2.754,3.061c0,2.106-1.71,3.583-4.393,3.583 C2060.184,1528.687,2058.978,1528.291,2058.312,1527.822z")
                path(fill="#666666" d="M2067.671,1527.336h1.639l-1.333,3.512h-0.972L2067.671,1527.336z")
                path(fill="#666666" d="M2076.889,1517.686h-6.14v-1.207h7.706v0.918l-4.735,11.182h-1.584L2076.889,1517.686z")
                path(fill="#666666" d="M2080.379,1519.594h1.747l1.657,4.52c0.234,0.666,0.63,1.746,0.828,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.697h-1.369l-0.216-4.25c-0.036-0.936-0.108-2.035-0.144-3.115 h-0.072c-0.198,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09	c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.214h-1.368L2080.379,1519.594z")
                path(fill="#666666" d="M2090.979,1528.283l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.948c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.221,0.308-1.65,0.604l-0.253-0.693c0.462-0.297,1.21-0.67,2.046-0.67c1.485,0,2.289,0.824,2.289,2.145	c0,1.276-0.771,2.156-2.046,3.455l-1.155,1.166h3.366v0.748h-4.587V1528.283z")
              g.txt-home-2
                path(fill="#666666" d="M2066.694,1412.465l0.27-1.152c0.667,0.451,1.855,0.865,2.845,0.865c1.908,0,3.025-1.08,3.025-2.791 c0-1.837-1.081-2.575-2.971-2.575c-0.828,0-1.962,0.343-2.521,0.595l0.432-6.338h6.122v1.225h-4.969l-0.252,3.672 c0.486-0.125,1.225-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.691c0,2.16-1.584,3.979-4.249,3.979	C2068.674,1413.384,2067.414,1412.987,2066.694,1412.465z")
                path(fill="#666666" d="M2075.766,1411.997h1.639l-1.333,3.511h-0.972L2075.766,1411.997z")
                path(fill="#666666" d="M2079.366,1412.465l0.27-1.152c0.667,0.451,1.855,0.865,2.845,0.865c1.908,0,3.025-1.08,3.025-2.791		c0-1.837-1.081-2.575-2.971-2.575c-0.828,0-1.962,0.343-2.521,0.595l0.432-6.338h6.122v1.225h-4.969l-0.252,3.672	c0.486-0.125,1.225-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.691c0,2.16-1.584,3.979-4.249,3.979 C2081.346,1413.384,2080.086,1412.987,2079.366,1412.465z")
                path(fill="#666666" d="M2089.23,1404.255h1.747l1.657,4.52c0.234,0.666,0.63,1.747,0.828,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.696h-1.369l-0.216-4.249c-0.036-0.937-0.108-2.034-0.144-3.114 h-0.072c-0.198,0.738-0.468,1.477-0.99,2.826l-1.729,4.502h-1.026l-1.603-4.43c-0.288-0.811-0.684-2.07-0.9-2.881h-0.09 c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.213h-1.368L2089.23,1404.255z")
                path(fill="#666666" d="M2099.83,1412.945l1.76-1.826c1.045-1.09,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.221,0.308-1.65,0.605l-0.253-0.693c0.462-0.297,1.21-0.672,2.046-0.672c1.485,0,2.289,0.826,2.289,2.146 c0,1.276-0.771,2.157-2.046,3.454l-1.155,1.167h3.366v0.748h-4.587V1412.945z")
              g.txt-home-3
                path(fill="#666666" d="M2157.545,1411.465l0.27-1.152c0.667,0.451,1.855,0.865,2.845,0.865c1.908,0,3.025-1.08,3.025-2.791 c0-1.837-1.081-2.575-2.971-2.575c-0.828,0-1.962,0.343-2.521,0.595l0.432-6.338h6.122v1.225h-4.969l-0.252,3.672 c0.486-0.125,1.225-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.691c0,2.16-1.584,3.979-4.249,3.979 C2159.525,1412.384,2158.265,1411.987,2157.545,1411.465z")
                path(fill="#666666" d="M2166.617,1410.997h1.639l-1.333,3.511h-0.972L2166.617,1410.997z")
                path(fill="#666666" d="M2170.217,1411.465l0.27-1.152c0.667,0.451,1.855,0.865,2.845,0.865c1.908,0,3.025-1.08,3.025-2.791 c0-1.837-1.081-2.575-2.971-2.575c-0.828,0-1.962,0.343-2.521,0.595l0.432-6.338h6.122v1.225h-4.969l-0.252,3.672 c0.486-0.125,1.225-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.691c0,2.16-1.584,3.979-4.249,3.979 C2172.197,1412.384,2170.937,1411.987,2170.217,1411.465z")
                path(fill="#666666" d="M2180.081,1403.255h1.747l1.657,4.52c0.234,0.666,0.63,1.747,0.828,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.696h-1.369l-0.216-4.249c-0.036-0.937-0.108-2.034-0.144-3.114 h-0.072c-0.198,0.738-0.468,1.477-0.99,2.826l-1.729,4.502h-1.026l-1.603-4.43c-0.288-0.811-0.684-2.07-0.9-2.881h-0.09 c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.213h-1.368L2180.081,1403.255z")
                path(fill="#666666" d="M2190.681,1411.945l1.76-1.826c1.045-1.09,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.221,0.308-1.65,0.605l-0.253-0.693c0.462-0.297,1.21-0.672,2.046-0.672c1.485,0,2.289,0.826,2.289,2.146 c0,1.276-0.771,2.157-2.046,3.454l-1.155,1.167h3.366v0.748h-4.587V1411.945z")
              g.txt-home-3
                path(fill="#666666" d="M2161.228,1519.865l-2.233,0.522v-0.829l2.845-1.332h0.756v12.352h-1.368V1519.865z")
                path(fill="#666666" d="M2165.547,1529.66l2.881-2.988c1.71-1.783,2.863-3.098,2.863-4.826c0-1.603-0.774-2.395-2.484-2.395	c-1.026,0-1.999,0.504-2.701,0.99l-0.414-1.135c0.756-0.486,1.981-1.098,3.349-1.098c2.431,0,3.745,1.35,3.745,3.511 c0,2.089-1.26,3.529-3.349,5.653l-1.891,1.909h5.51v1.224h-7.508V1529.66z")
                path(fill="#666666" d="M2175.033,1529.336h1.639l-1.333,3.512h-0.972L2175.033,1529.336z")
                path(fill="#666666" d="M2184.25,1519.686h-6.14v-1.207h7.706v0.918l-4.735,11.182h-1.584L2184.25,1519.686z")
                path(fill="#666666" d="M2187.741,1521.594h1.747l1.656,4.52c0.234,0.666,0.63,1.746,0.829,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.697h-1.368l-0.216-4.25c-0.036-0.936-0.108-2.035-0.145-3.115 h-0.072c-0.198,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09 c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.214h-1.368L2187.741,1521.594z")
                path(fill="#666666" d="M2198.34,1530.283l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.948c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.221,0.308-1.65,0.604l-0.253-0.693c0.462-0.297,1.21-0.67,2.046-0.67c1.485,0,2.288,0.824,2.288,2.145 c0,1.276-0.77,2.156-2.046,3.455l-1.155,1.166h3.366v0.748h-4.587V1530.283z")
              g.txt-home-3
                path(fill="#666666" d="M2263.81,1499.865l-2.233,0.522v-0.829l2.845-1.332h0.756v12.352h-1.368V1499.865z")
                path(fill="#666666" d="M2267.966,1507.428c0-1.584,1.369-2.684,2.701-3.205c-1.296-0.504-2.359-1.422-2.359-2.971 c0-1.746,1.495-3.043,3.817-3.043c2.269,0,3.799,1.098,3.799,2.971c0,1.459-1.207,2.305-2.449,2.953	c1.495,0.486,2.935,1.35,2.935,3.169c0,1.927-1.621,3.438-4.231,3.438C2269.605,1510.74,2267.966,1509.408,2267.966,1507.428z M2274.88,1507.445c0-1.477-0.99-2.017-3.079-2.683c-1.188,0.414-2.395,1.278-2.395,2.61c0,1.333,1.152,2.18,2.755,2.18 C2273.71,1509.553,2274.88,1508.688,2274.88,1507.445z M2274.43,1501.234c0-1.062-0.792-1.838-2.287-1.838 c-1.386,0-2.305,0.667-2.305,1.819c0,1.242,0.973,1.98,2.575,2.395C2273.548,1503.106,2274.43,1502.387,2274.43,1501.234z")
                path(fill="#666666" d="M2277.993,1509.336h1.639l-1.333,3.512h-0.972L2277.993,1509.336z")
                path(fill="#666666" d="M2289.281,1503.502v0.793c0,4.213-1.693,6.428-4.609,6.428c-1.243,0-2.377-0.379-2.935-0.756l0.396-1.045 c0.522,0.307,1.495,0.594,2.467,0.594c1.981,0,3.115-1.26,3.241-4.645c-0.648,0.738-1.639,1.332-2.971,1.332 c-2.034,0-3.691-1.477-3.691-3.781c0-2.269,1.458-4.195,3.907-4.195C2287.787,1498.227,2289.281,1500.082,2289.281,1503.502z M2282.601,1502.296c0,1.891,1.099,2.701,2.557,2.701c1.152,0,2.179-0.811,2.683-1.513v-0.342c0-2.251-0.811-3.728-2.737-3.728	C2283.538,1499.415,2282.601,1500.621,2282.601,1502.296z")
                path(fill="#666666" d="M2291.708,1501.594h1.747l1.657,4.52c0.234,0.666,0.63,1.746,0.828,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.697h-1.369l-0.216-4.25c-0.036-0.936-0.108-2.035-0.144-3.115 h-0.072c-0.198,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09	c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.214h-1.368L2291.708,1501.594z")
                path(fill="#666666" d="M2302.308,1510.283l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.948c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.221,0.308-1.65,0.604l-0.253-0.693c0.462-0.297,1.21-0.67,2.046-0.67c1.485,0,2.289,0.824,2.289,2.145	c0,1.276-0.771,2.156-2.046,3.455l-1.155,1.166h3.366v0.748h-4.587V1510.283z")
              g.txt-home-3
                path(fill="#666666" d="M2380.671,1463.906l2.881-2.988c1.71-1.783,2.863-3.098,2.863-4.826c0-1.603-0.774-2.395-2.484-2.395 c-1.026,0-1.999,0.504-2.701,0.99l-0.414-1.135c0.756-0.486,1.981-1.098,3.349-1.098c2.431,0,3.745,1.35,3.745,3.511	c0,2.089-1.26,3.529-3.349,5.653l-1.891,1.909h5.51v1.224h-7.508V1463.906z")
                path(fill="#666666" d="M2389.689,1464.051l0.27-1.152c0.667,0.449,1.855,0.863,2.845,0.863c1.908,0,3.025-1.08,3.025-2.79 c0-1.837-1.081-2.575-2.971-2.575c-0.828,0-1.962,0.342-2.521,0.594l0.432-6.338h6.122v1.225h-4.969l-0.252,3.674	c0.486-0.127,1.225-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.69c0,2.161-1.584,3.979-4.249,3.979 C2391.669,1464.969,2390.409,1464.572,2389.689,1464.051z")
                path(fill="#666666" d="M2398.761,1463.582h1.639l-1.333,3.512h-0.972L2398.761,1463.582z")
                path(fill="#666666" d="M2403.766,1454.111l-2.233,0.522v-0.829l2.845-1.332h0.756v12.352h-1.368V1454.111z")
                path(fill="#666666" d="M2408.391,1455.84h1.747l1.657,4.52c0.234,0.666,0.63,1.746,0.828,2.431h0.018 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.697h-1.369l-0.216-4.25c-0.036-0.936-0.108-2.035-0.144-3.115 h-0.072c-0.198,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09 c-0.018,1.026-0.054,2.179-0.108,3.133l-0.234,4.214h-1.368L2408.391,1455.84z")
                path(fill="#666666" d="M2418.991,1464.529l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.948c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.221,0.308-1.65,0.604l-0.253-0.693c0.462-0.297,1.21-0.67,2.046-0.67c1.485,0,2.289,0.824,2.289,2.145	c0,1.276-0.771,2.156-2.046,3.455l-1.155,1.166h3.366v0.748h-4.587V1464.529z")
              g.txt-home-6
                path(fill="#666666" d="M2606.849,1093.884l-2.233,0.522v-0.829l2.846-1.333h0.756v12.352h-1.368V1093.884z")
                path(fill="#666666" d="M2610.592,1103.823l0.27-1.152c0.666,0.45,1.855,0.864,2.846,0.864c1.908,0,3.024-1.08,3.024-2.791 c0-1.837-1.081-2.575-2.972-2.575c-0.828,0-1.962,0.342-2.52,0.594l0.432-6.338h6.121v1.225h-4.969l-0.252,3.673	c0.486-0.126,1.225-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.691c0,2.161-1.585,3.979-4.249,3.979 C2612.572,1104.741,2611.312,1104.345,2610.592,1103.823z")
                path(fill="#666666" d="M2619.664,1103.354h1.639l-1.333,3.511h-0.972L2619.664,1103.354z")
                path(fill="#666666" d="M2623.642,1103.841l0.306-1.134c0.685,0.45,1.891,0.792,2.791,0.792c1.998,0,3.115-0.882,3.115-2.376	c0-1.548-1.188-2.287-3.025-2.287h-1.17v-1.225h1.08c1.566,0,2.629-0.792,2.629-2.143c0-1.477-0.955-1.999-2.431-1.999 c-0.99,0-1.927,0.432-2.683,0.864l-0.217-1.152c0.721-0.486,2.143-0.937,3.188-0.937c2.16,0,3.637,1.099,3.637,2.989 c0,1.494-0.936,2.376-2.305,2.827c1.566,0.306,2.755,1.188,2.755,3.061c0,2.106-1.71,3.583-4.394,3.583		C2625.514,1104.705,2624.308,1104.309,2623.642,1103.841z")
                path(fill="#666666" d="M2633.793,1095.612h1.747l1.657,4.52c0.233,0.666,0.629,1.747,0.828,2.431h0.018 c0.197-0.666,0.721-2.106,1.08-3.079l1.459-3.871h1.782l0.595,8.697h-1.369l-0.217-4.25c-0.035-0.936-0.107-2.035-0.143-3.115 h-0.072c-0.199,0.738-0.469,1.477-0.99,2.827l-1.729,4.501h-1.027l-1.602-4.429c-0.289-0.811-0.685-2.071-0.9-2.881h-0.09	c-0.019,1.026-0.055,2.179-0.108,3.133l-0.234,4.213h-1.368L2633.793,1095.612z")
                path(fill="#666666" d="M2644.393,1104.302l1.761-1.826c1.045-1.089,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.222,0.308-1.65,0.605l-0.254-0.693c0.463-0.297,1.211-0.671,2.047-0.671c1.485,0,2.289,0.825,2.289,2.145	c0,1.276-0.771,2.157-2.047,3.455l-1.155,1.167h3.366v0.748h-4.588V1104.302z")
              g.txt-home-6
                path(fill="#666666" d="M2717.488,1071.128l-2.233,0.522v-0.829l2.845-1.333h0.756v12.352h-1.367V1071.128z")
                path(fill="#666666" d="M2721.717,1076.565v-0.936c0-4.267,1.891-6.14,4.682-6.14c1.206,0,2.322,0.415,2.826,0.721l-0.414,1.044		c-0.432-0.252-1.494-0.558-2.269-0.558c-2.052,0-3.204,1.044-3.385,4.808c0.647-0.667,1.639-1.296,2.989-1.296	c2.016,0,3.637,1.386,3.637,3.691s-1.477,4.087-3.926,4.087C2723.157,1081.985,2721.717,1080.005,2721.717,1076.565z M2728.343,1078.042c0-1.891-1.026-2.629-2.485-2.629c-1.152,0-2.196,0.811-2.7,1.531v0.126c0,2.25,0.757,3.727,2.683,3.727 C2727.406,1080.797,2728.343,1079.771,2728.343,1078.042z")
                path(fill="#666666" d="M2731.113,1080.599h1.639l-1.333,3.511h-0.972L2731.113,1080.599z")
                path(fill="#666666" d="M2735.289,1080.923l2.881-2.989c1.71-1.783,2.862-3.097,2.862-4.826c0-1.603-0.774-2.395-2.484-2.395		c-1.026,0-1.999,0.504-2.701,0.99l-0.414-1.134c0.757-0.486,1.98-1.098,3.349-1.098c2.432,0,3.746,1.35,3.746,3.511	c0,2.089-1.261,3.529-3.35,5.654l-1.891,1.909h5.51v1.224h-7.508V1080.923z")
                path(fill="#666666" d="M2745.188,1072.856h1.747l1.656,4.52c0.234,0.666,0.63,1.747,0.828,2.431h0.018 c0.198-0.666,0.721-2.106,1.08-3.079l1.459-3.871h1.783l0.594,8.697h-1.369l-0.216-4.25c-0.036-0.936-0.108-2.035-0.144-3.115	h-0.072c-0.198,0.738-0.469,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09 c-0.018,1.026-0.055,2.179-0.107,3.133l-0.234,4.213h-1.369L2745.188,1072.856z")
                path(fill="#666666" d="M2755.788,1081.546l1.761-1.826c1.045-1.089,1.748-1.893,1.748-2.949c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.221,0.308-1.65,0.605l-0.253-0.693c0.462-0.297,1.21-0.671,2.046-0.671c1.486,0,2.289,0.825,2.289,2.145	c0,1.276-0.771,2.157-2.047,3.455l-1.154,1.167h3.365v0.748h-4.587V1081.546z")
              g.txt-home-6
                path(fill="#666666" d="M2844.992,1099.679l2.881-2.989c1.71-1.783,2.862-3.097,2.862-4.826c0-1.603-0.774-2.395-2.484-2.395 c-1.026,0-1.999,0.504-2.701,0.99l-0.414-1.134c0.757-0.486,1.981-1.098,3.349-1.098c2.432,0,3.746,1.35,3.746,3.511	c0,2.089-1.261,3.529-3.35,5.654l-1.891,1.909h5.51v1.224h-7.508V1099.679z")
                path(fill="#666666" d="M2856.692,1089.884l-2.233,0.522v-0.829l2.846-1.333h0.756v12.352h-1.368V1089.884z")
                path(fill="#666666" d="M2860.705,1099.354h1.639l-1.332,3.511h-0.973L2860.705,1099.354z")
                path(fill="#666666" d="M2864.882,1099.679l2.881-2.989c1.71-1.783,2.862-3.097,2.862-4.826c0-1.603-0.773-2.395-2.484-2.395 c-1.025,0-1.998,0.504-2.701,0.99l-0.414-1.134c0.757-0.486,1.98-1.098,3.35-1.098c2.431,0,3.745,1.35,3.745,3.511	c0,2.089-1.261,3.529-3.349,5.654l-1.891,1.909h5.51v1.224h-7.509V1099.679z")
                path(fill="#666666" d="M2874.781,1091.612h1.747l1.657,4.52c0.233,0.666,0.629,1.747,0.828,2.431h0.018 c0.197-0.666,0.721-2.106,1.08-3.079l1.459-3.871h1.782l0.595,8.697h-1.369l-0.217-4.25c-0.035-0.936-0.107-2.035-0.143-3.115 h-0.072c-0.199,0.738-0.469,1.477-0.99,2.827l-1.729,4.501h-1.027l-1.602-4.429c-0.289-0.811-0.685-2.071-0.9-2.881h-0.09	c-0.019,1.026-0.055,2.179-0.108,3.133l-0.234,4.213h-1.368L2874.781,1091.612z")
                path(fill="#666666" d="M2885.381,1100.302l1.761-1.826c1.045-1.089,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.518-1.463		c-0.627,0-1.222,0.308-1.65,0.605l-0.254-0.693c0.463-0.297,1.211-0.671,2.047-0.671c1.485,0,2.289,0.825,2.289,2.145 c0,1.276-0.771,2.157-2.047,3.455l-1.155,1.167h3.366v0.748h-4.588V1100.302z")
              g.txt-home-6
                path(fill="#666666" d="M2821.246,1240.021l2.881-2.989c1.71-1.783,2.862-3.097,2.862-4.826c0-1.603-0.774-2.395-2.484-2.395 c-1.026,0-1.999,0.504-2.701,0.99l-0.414-1.134c0.757-0.486,1.981-1.098,3.349-1.098c2.432,0,3.746,1.35,3.746,3.511	c0,2.089-1.261,3.529-3.35,5.654l-1.891,1.909h5.51v1.224h-7.508V1240.021z")
                path(fill="#666666" d="M2830.264,1240.165l0.27-1.152c0.666,0.45,1.855,0.864,2.846,0.864c1.908,0,3.024-1.08,3.024-2.791		c0-1.837-1.081-2.575-2.972-2.575c-0.828,0-1.962,0.342-2.52,0.594l0.432-6.338h6.121v1.225h-4.969l-0.252,3.673	c0.486-0.126,1.225-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.691c0,2.161-1.585,3.979-4.249,3.979 C2832.244,1241.083,2830.983,1240.687,2830.264,1240.165z")
                path(fill="#666666" d="M2839.336,1239.697h1.639l-1.333,3.511h-0.972L2839.336,1239.697z")
                path(fill="#666666" d="M2843.313,1240.183l0.306-1.134c0.685,0.45,1.891,0.792,2.791,0.792c1.998,0,3.115-0.882,3.115-2.376		c0-1.548-1.188-2.287-3.025-2.287h-1.17v-1.225h1.08c1.566,0,2.629-0.792,2.629-2.143c0-1.477-0.955-1.999-2.431-1.999 c-0.99,0-1.927,0.432-2.683,0.864l-0.217-1.152c0.721-0.486,2.143-0.937,3.188-0.937c2.16,0,3.637,1.099,3.637,2.989 c0,1.494-0.936,2.376-2.305,2.827c1.566,0.306,2.755,1.188,2.755,3.061c0,2.106-1.71,3.583-4.394,3.583		C2845.186,1241.047,2843.979,1240.651,2843.313,1240.183z")
                path(fill="#666666" d="M2853.465,1231.955h1.747l1.657,4.52c0.233,0.666,0.629,1.747,0.828,2.431h0.018 c0.197-0.666,0.721-2.106,1.08-3.079l1.459-3.871h1.782l0.595,8.697h-1.369l-0.217-4.25c-0.035-0.936-0.107-2.035-0.143-3.115 h-0.072c-0.199,0.738-0.469,1.477-0.99,2.827l-1.729,4.501h-1.027l-1.602-4.429c-0.289-0.811-0.685-2.071-0.9-2.881h-0.09	c-0.019,1.026-0.055,2.179-0.108,3.133l-0.234,4.213h-1.368L2853.465,1231.955z")
                path(fill="#666666" d="M2864.064,1240.645l1.761-1.826c1.045-1.089,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.518-1.463		c-0.627,0-1.222,0.308-1.65,0.605l-0.254-0.693c0.463-0.297,1.211-0.671,2.047-0.671c1.485,0,2.289,0.825,2.289,2.145 c0,1.276-0.771,2.157-2.047,3.455l-1.155,1.167h3.366v0.748h-4.588V1240.645z")
              g.txt-home-6
                path(fill="#666666" d="M2613.84,1216.36l0.27-1.152c0.666,0.45,1.855,0.864,2.846,0.864c1.908,0,3.024-1.08,3.024-2.791		c0-1.837-1.081-2.575-2.972-2.575c-0.828,0-1.962,0.342-2.52,0.594l0.432-6.338h6.121v1.225h-4.969l-0.252,3.673	c0.486-0.126,1.225-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.691c0,2.161-1.585,3.979-4.249,3.979		C2615.82,1217.278,2614.56,1216.882,2613.84,1216.36z")
                path(fill="#666666" d="M2622.912,1215.892h1.639l-1.333,3.511h-0.972L2622.912,1215.892z")
                path(fill="#666666" d="M2626.494,1211.499v-1.008c0-4.268,2.07-5.708,4.447-5.708c2.358,0,4.303,1.44,4.303,5.636v1.099		c0,4.087-1.873,5.762-4.32,5.762C2628.438,1217.278,2626.494,1215.586,2626.494,1211.499z M2633.786,1211.732v-1.332 c0-3.043-0.991-4.43-2.845-4.43c-1.891,0-2.917,1.314-2.917,4.339v1.333c0,3.007,1.009,4.447,2.899,4.447		C2632.777,1216.09,2633.786,1214.83,2633.786,1211.732z")
                path(fill="#666666" d="M2637.996,1208.149h1.746l1.656,4.52c0.234,0.666,0.631,1.747,0.828,2.431h0.019 c0.198-0.666,0.72-2.106,1.08-3.079l1.458-3.871h1.783l0.594,8.697h-1.368l-0.216-4.25c-0.036-0.936-0.108-2.035-0.145-3.115	h-0.072c-0.197,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.025l-1.604-4.429c-0.287-0.811-0.684-2.071-0.9-2.881h-0.09	c-0.018,1.026-0.054,2.179-0.107,3.133l-0.234,4.213h-1.368L2637.996,1208.149z")
                path(fill="#666666" d="M2648.596,1216.839l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.519-1.463	c-0.627,0-1.221,0.308-1.65,0.605l-0.252-0.693c0.461-0.297,1.21-0.671,2.046-0.671c1.485,0,2.288,0.825,2.288,2.145 c0,1.276-0.77,2.157-2.046,3.455l-1.155,1.167h3.366v0.748h-4.587V1216.839z")
              g.txt-home-6
                path(fill="#666666" d="M2614.326,1258.703v-0.936c0-4.267,1.891-6.14,4.681-6.14c1.206,0,2.323,0.415,2.827,0.721l-0.414,1.044		c-0.432-0.252-1.494-0.558-2.27-0.558c-2.052,0-3.204,1.044-3.385,4.808c0.648-0.667,1.639-1.296,2.989-1.296	c2.017,0,3.638,1.386,3.638,3.691s-1.477,4.087-3.926,4.087C2615.766,1264.123,2614.326,1262.142,2614.326,1258.703z M2620.951,1260.179c0-1.891-1.025-2.629-2.484-2.629c-1.152,0-2.197,0.811-2.701,1.531v0.126c0,2.25,0.757,3.727,2.684,3.727 C2620.016,1262.934,2620.951,1261.908,2620.951,1260.179z")
                path(fill="#666666" d="M2623.722,1262.736h1.639l-1.333,3.511h-0.972L2623.722,1262.736z")
                path(fill="#666666" d="M2627.304,1258.343v-1.008c0-4.268,2.071-5.708,4.447-5.708c2.358,0,4.304,1.44,4.304,5.636v1.099 c0,4.087-1.873,5.762-4.322,5.762C2629.248,1264.123,2627.304,1262.43,2627.304,1258.343z M2634.596,1258.577v-1.332 c0-3.043-0.99-4.43-2.845-4.43c-1.89,0-2.917,1.314-2.917,4.339v1.333c0,3.007,1.009,4.447,2.898,4.447		C2633.588,1262.934,2634.596,1261.674,2634.596,1258.577z")
                path(fill="#666666" d="M2638.806,1254.994h1.747l1.656,4.52c0.234,0.666,0.63,1.747,0.828,2.431h0.018 c0.198-0.666,0.721-2.106,1.08-3.079l1.459-3.871h1.783l0.594,8.697h-1.369l-0.215-4.25c-0.037-0.936-0.109-2.035-0.145-3.115	h-0.072c-0.198,0.738-0.469,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09	c-0.018,1.026-0.055,2.179-0.107,3.133l-0.234,4.213h-1.369L2638.806,1254.994z")
                path(fill="#666666" d="M2649.405,1263.684l1.761-1.826c1.045-1.089,1.748-1.893,1.748-2.949c0-0.979-0.473-1.463-1.518-1.463	c-0.627,0-1.221,0.308-1.65,0.605l-0.253-0.693c0.462-0.297,1.21-0.671,2.046-0.671c1.486,0,2.289,0.825,2.289,2.145 c0,1.276-0.771,2.157-2.047,3.455l-1.154,1.167h3.365v0.748h-4.587V1263.684z")
              g.txt-home-5
                path(fill="#666666" d="M2954.458,1357.96l-2.233,0.522v-0.828l2.846-1.333h0.756v12.353h-1.368V1357.96z")
                path(fill="#666666" d="M2958.688,1363.397v-0.937c0-4.267,1.891-6.14,4.681-6.14c1.206,0,2.323,0.415,2.827,0.721l-0.414,1.044	c-0.432-0.252-1.494-0.559-2.27-0.559c-2.052,0-3.204,1.045-3.385,4.809c0.648-0.667,1.639-1.297,2.989-1.297	c2.017,0,3.638,1.387,3.638,3.691s-1.477,4.087-3.926,4.087C2960.127,1368.817,2958.688,1366.837,2958.688,1363.397z M2965.312,1364.874c0-1.891-1.025-2.629-2.484-2.629c-1.152,0-2.197,0.811-2.701,1.53v0.127c0,2.25,0.757,3.727,2.684,3.727 C2964.377,1367.629,2965.312,1366.603,2965.312,1364.874z")
                path(fill="#666666" d="M2968.083,1367.431h1.639l-1.333,3.511h-0.972L2968.083,1367.431z")
                path(fill="#666666" d="M2977.301,1357.779h-6.14v-1.205h7.706v0.918l-4.735,11.182h-1.585L2977.301,1357.779z")
                path(fill="#666666" d="M2980.791,1359.688h1.746l1.656,4.52c0.234,0.666,0.631,1.747,0.829,2.431h0.019c0.197-0.666,0.72-2.106,1.08-3.079 l1.458-3.871h1.782l0.594,8.696h-1.367l-0.217-4.249c-0.035-0.937-0.107-2.034-0.145-3.114h-0.071		c-0.198,0.738-0.468,1.477-0.99,2.826l-1.729,4.502h-1.026l-1.603-4.43c-0.288-0.811-0.685-2.07-0.9-2.881h-0.09	c-0.019,1.026-0.054,2.179-0.108,3.133l-0.234,4.213h-1.367L2980.791,1359.688z")
                path(fill="#666666" d="M2991.391,1368.379l1.76-1.826c1.045-1.09,1.75-1.893,1.75-2.949c0-0.979-0.473-1.463-1.519-1.463		c-0.627,0-1.222,0.308-1.65,0.605l-0.253-0.693c0.463-0.297,1.211-0.672,2.047-0.672c1.484,0,2.287,0.826,2.287,2.146 c0,1.276-0.77,2.157-2.045,3.454l-1.156,1.167h3.367v0.748h-4.588V1368.379z")
              g.txt-home-5
                path(fill="#666666" d="M2952.352,1509.66l2.881-2.988c1.71-1.783,2.862-3.098,2.862-4.826c0-1.603-0.774-2.395-2.484-2.395	c-1.026,0-1.999,0.504-2.701,0.99l-0.414-1.135c0.757-0.486,1.981-1.098,3.349-1.098c2.432,0,3.746,1.35,3.746,3.511 c0,2.089-1.261,3.529-3.35,5.653l-1.891,1.909h5.51v1.224h-7.508V1509.66z")
                path(fill="#666666" d="M2964.052,1499.865l-2.233,0.522v-0.829l2.846-1.332h0.756v12.352h-1.368V1499.865z")
                path(fill="#666666" d="M2968.064,1509.336h1.639l-1.332,3.512h-0.973L2968.064,1509.336z")
                path(fill="#666666" d="M2971.665,1509.805l0.271-1.152c0.666,0.449,1.854,0.863,2.845,0.863c1.908,0,3.024-1.08,3.024-2.79	c0-1.837-1.08-2.575-2.971-2.575c-0.828,0-1.963,0.342-2.521,0.594l0.433-6.338h6.121v1.225h-4.969l-0.252,3.674	c0.485-0.127,1.224-0.252,1.729-0.252c2.43,0,3.924,1.152,3.924,3.69c0,2.161-1.584,3.979-4.248,3.979		C2973.646,1510.723,2972.385,1510.326,2971.665,1509.805z")
                path(fill="#666666" d="M2981.529,1501.594h1.746l1.656,4.52c0.234,0.666,0.631,1.746,0.828,2.431h0.019c0.198-0.666,0.72-2.106,1.08-3.079 l1.458-3.871h1.783l0.594,8.697h-1.368l-0.216-4.25c-0.036-0.936-0.108-2.035-0.145-3.115h-0.072		c-0.197,0.738-0.468,1.477-0.99,2.827l-1.729,4.501h-1.025l-1.604-4.429c-0.287-0.811-0.684-2.071-0.9-2.881h-0.09	c-0.018,1.026-0.054,2.179-0.107,3.133l-0.234,4.214h-1.368L2981.529,1501.594z")
                path(fill="#666666" d="M2992.129,1510.283l1.76-1.826c1.045-1.089,1.749-1.893,1.749-2.948c0-0.979-0.473-1.463-1.519-1.463	c-0.627,0-1.221,0.308-1.65,0.604l-0.252-0.693c0.461-0.297,1.21-0.67,2.046-0.67c1.485,0,2.288,0.824,2.288,2.145	c0,1.276-0.77,2.156-2.046,3.455l-1.155,1.166h3.366v0.748h-4.587V1510.283z")
              g.txt-home-5
                path(fill="#666666" d="M2831.364,1515.309l-2.233,0.522v-0.829l2.846-1.332h0.756v12.352h-1.368V1515.309z")
                path(fill="#666666" d="M2835.485,1525.266l0.306-1.135c0.685,0.451,1.891,0.793,2.791,0.793c1.998,0,3.115-0.883,3.115-2.377	c0-1.549-1.188-2.287-3.025-2.287h-1.17v-1.225h1.08c1.566,0,2.629-0.791,2.629-2.143c0-1.477-0.955-1.998-2.431-1.998 c-0.99,0-1.927,0.432-2.683,0.864l-0.217-1.152c0.721-0.486,2.143-0.937,3.188-0.937c2.16,0,3.637,1.099,3.637,2.989 c0,1.494-0.936,2.376-2.305,2.827c1.566,0.306,2.755,1.188,2.755,3.061c0,2.106-1.71,3.583-4.394,3.583		C2837.357,1526.13,2836.151,1525.734,2835.485,1525.266z")
                path(fill="#666666" d="M2844.846,1524.779h1.639l-1.333,3.512h-0.972L2844.846,1524.779z")
                path(fill="#666666" d="M2854.062,1515.129h-6.139v-1.207h7.705v0.918l-4.734,11.182h-1.585L2854.062,1515.129z")
                path(fill="#666666" d="M2857.553,1517.037h1.747l1.657,4.52c0.233,0.666,0.629,1.746,0.828,2.431h0.018c0.197-0.666,0.721-2.106,1.08-3.079 l1.459-3.871h1.782l0.595,8.697h-1.369l-0.217-4.25c-0.035-0.936-0.107-2.035-0.143-3.115h-0.072		c-0.199,0.738-0.469,1.477-0.99,2.827l-1.729,4.501h-1.027l-1.602-4.429c-0.289-0.811-0.685-2.071-0.9-2.881h-0.09	c-0.019,1.026-0.055,2.179-0.108,3.133l-0.234,4.214h-1.368L2857.553,1517.037z")
                path(fill="#666666" d="M2868.152,1525.727l1.761-1.826c1.045-1.089,1.749-1.893,1.749-2.948c0-0.979-0.473-1.463-1.518-1.463	c-0.627,0-1.222,0.308-1.65,0.604l-0.254-0.693c0.463-0.297,1.211-0.67,2.047-0.67c1.485,0,2.289,0.824,2.289,2.145	c0,1.276-0.771,2.156-2.047,3.455l-1.155,1.166h3.366v0.748h-4.588V1525.727z")
              g.txt-home-4
                path(fill="#666666" d="M2726.033,1519.865l-2.233,0.522v-0.829l2.845-1.332h0.756v12.352h-1.367V1519.865z")
                path(fill="#666666" d="M2730.352,1529.66l2.881-2.988c1.711-1.783,2.863-3.098,2.863-4.826c0-1.603-0.774-2.395-2.484-2.395		c-1.027,0-1.999,0.504-2.701,0.99l-0.414-1.135c0.756-0.486,1.98-1.098,3.349-1.098c2.431,0,3.745,1.35,3.745,3.511	c0,2.089-1.26,3.529-3.35,5.653l-1.891,1.909h5.51v1.224h-7.508V1529.66z")
                path(fill="#666666" d="M2739.838,1529.336h1.639l-1.333,3.512h-0.972L2739.838,1529.336z")
                path(fill="#666666" d="M2749.055,1519.686h-6.139v-1.207h7.705v0.918l-4.734,11.182h-1.585L2749.055,1519.686z")
                path(fill="#666666" d="M2752.545,1521.594h1.747l1.656,4.52c0.234,0.666,0.63,1.746,0.829,2.431h0.018 c0.197-0.666,0.721-2.106,1.08-3.079l1.459-3.871h1.782l0.594,8.697h-1.368l-0.216-4.25c-0.036-0.936-0.108-2.035-0.145-3.115	h-0.071c-0.199,0.738-0.469,1.477-0.99,2.827l-1.729,4.501h-1.027l-1.602-4.429c-0.289-0.811-0.685-2.071-0.9-2.881h-0.09	c-0.019,1.026-0.055,2.179-0.108,3.133l-0.234,4.214h-1.368L2752.545,1521.594z")
                path(fill="#666666" d="M2763.145,1530.283l1.761-1.826c1.045-1.089,1.749-1.893,1.749-2.948c0-0.979-0.473-1.463-1.518-1.463		c-0.627,0-1.222,0.308-1.65,0.604l-0.254-0.693c0.463-0.297,1.211-0.67,2.047-0.67c1.485,0,2.288,0.824,2.288,2.145	c0,1.276-0.771,2.156-2.046,3.455l-1.155,1.166h3.366v0.748h-4.588V1530.283z")
              g.txt-home-4
                path(fill="#666666" d="M2624.781,1499.865l-2.232,0.522v-0.829l2.844-1.332h0.757v12.352h-1.368V1499.865z")
                path(fill="#666666" d="M2628.938,1507.428c0-1.584,1.369-2.684,2.701-3.205c-1.296-0.504-2.358-1.422-2.358-2.971 c0-1.746,1.495-3.043,3.817-3.043c2.269,0,3.799,1.098,3.799,2.971c0,1.459-1.207,2.305-2.449,2.953	c1.495,0.486,2.936,1.35,2.936,3.169c0,1.927-1.621,3.438-4.231,3.438C2630.576,1510.74,2628.938,1509.408,2628.938,1507.428z	 M2635.852,1507.445c0-1.477-0.99-2.017-3.078-2.683c-1.188,0.414-2.395,1.278-2.395,2.61c0,1.333,1.152,2.18,2.754,2.18 C2634.682,1509.553,2635.852,1508.688,2635.852,1507.445z M2635.402,1501.234c0-1.062-0.793-1.838-2.287-1.838	c-1.387,0-2.305,0.667-2.305,1.819c0,1.242,0.973,1.98,2.574,2.395C2634.52,1503.106,2635.402,1502.387,2635.402,1501.234z")
                path(fill="#666666" d="M2638.965,1509.336h1.639l-1.333,3.512h-0.972L2638.965,1509.336z")
                path(fill="#666666" d="M2650.253,1503.502v0.793c0,4.213-1.692,6.428-4.609,6.428c-1.243,0-2.377-0.379-2.935-0.756l0.396-1.045	c0.522,0.307,1.495,0.594,2.467,0.594c1.981,0,3.115-1.26,3.241-4.645c-0.648,0.738-1.639,1.332-2.971,1.332	c-2.035,0-3.691-1.477-3.691-3.781c0-2.269,1.459-4.195,3.907-4.195C2648.758,1498.227,2650.253,1500.082,2650.253,1503.502z M2643.572,1502.296c0,1.891,1.1,2.701,2.557,2.701c1.152,0,2.18-0.811,2.684-1.513v-0.342c0-2.251-0.811-3.728-2.736-3.728 C2644.51,1499.415,2643.572,1500.621,2643.572,1502.296z")
                path(fill="#666666" d="M2652.68,1501.594h1.747l1.657,4.52c0.233,0.666,0.629,1.746,0.828,2.431h0.018 c0.197-0.666,0.721-2.106,1.08-3.079l1.459-3.871h1.782l0.595,8.697h-1.369l-0.217-4.25c-0.035-0.936-0.107-2.035-0.143-3.115	h-0.072c-0.199,0.738-0.469,1.477-0.99,2.827l-1.729,4.501h-1.027l-1.602-4.429c-0.289-0.811-0.685-2.071-0.9-2.881h-0.09	c-0.019,1.026-0.055,2.179-0.108,3.133l-0.234,4.214h-1.368L2652.68,1501.594z")
                path(fill="#666666" d="M2663.279,1510.283l1.761-1.826c1.045-1.089,1.749-1.893,1.749-2.948c0-0.979-0.473-1.463-1.518-1.463 c-0.627,0-1.222,0.308-1.65,0.604l-0.254-0.693c0.463-0.297,1.211-0.67,2.047-0.67c1.485,0,2.289,0.824,2.289,2.145	c0,1.276-0.771,2.156-2.047,3.455l-1.155,1.166h3.366v0.748h-4.588V1510.283z")
              g.txt-home-4
                path(fill="#666666" d="M2508.797,1467.111l2.881-2.988c1.71-1.783,2.862-3.098,2.862-4.826c0-1.603-0.774-2.395-2.484-2.395		c-1.026,0-1.999,0.504-2.701,0.99l-0.414-1.135c0.757-0.486,1.981-1.098,3.349-1.098c2.432,0,3.746,1.35,3.746,3.511 c0,2.089-1.261,3.529-3.35,5.653l-1.891,1.909h5.51v1.224h-7.508V1467.111z")
                path(fill="#666666" d="M2517.814,1467.256l0.27-1.152c0.666,0.449,1.855,0.863,2.846,0.863c1.908,0,3.024-1.08,3.024-2.79		c0-1.837-1.081-2.575-2.972-2.575c-0.828,0-1.962,0.342-2.52,0.594l0.432-6.338h6.121v1.225h-4.969l-0.252,3.674	c0.486-0.127,1.225-0.252,1.729-0.252c2.431,0,3.925,1.152,3.925,3.69c0,2.161-1.585,3.979-4.249,3.979		C2519.795,1468.174,2518.534,1467.777,2517.814,1467.256z")
                path(fill="#666666" d="M2526.887,1466.787h1.639l-1.333,3.512h-0.972L2526.887,1466.787z")
                path(fill="#666666" d="M2531.891,1457.316l-2.232,0.522v-0.829l2.845-1.332h0.757v12.352h-1.369V1457.316z")
                path(fill="#666666" d="M2536.516,1459.045h1.747l1.657,4.52c0.233,0.666,0.629,1.746,0.828,2.431h0.018 c0.197-0.666,0.721-2.106,1.08-3.079l1.459-3.871h1.782l0.595,8.697h-1.369l-0.217-4.25c-0.035-0.936-0.107-2.035-0.143-3.115 h-0.072c-0.199,0.738-0.469,1.477-0.99,2.827l-1.729,4.501h-1.027l-1.602-4.429c-0.289-0.811-0.685-2.071-0.9-2.881h-0.09	c-0.019,1.026-0.055,2.179-0.108,3.133l-0.234,4.214h-1.368L2536.516,1459.045z")
                path(fill="#666666" d="M2547.115,1467.734l1.761-1.826c1.045-1.089,1.749-1.893,1.749-2.948c0-0.979-0.473-1.463-1.518-1.463		c-0.627,0-1.222,0.308-1.65,0.604l-0.254-0.693c0.463-0.297,1.211-0.67,2.047-0.67c1.485,0,2.289,0.824,2.289,2.145	c0,1.276-0.771,2.156-2.047,3.455l-1.155,1.166h3.366v0.748h-4.588V1467.734z")
              g.txt-home-4
                path(fill="#666666" d="M2735.531,1410.275l0.27-1.152c0.667,0.449,1.855,0.863,2.846,0.863c1.908,0,3.025-1.08,3.025-2.79		c0-1.837-1.081-2.575-2.972-2.575c-0.828,0-1.962,0.342-2.521,0.594l0.432-6.338h6.122v1.225h-4.97l-0.252,3.674	c0.486-0.127,1.225-0.252,1.729-0.252c2.432,0,3.926,1.152,3.926,3.69c0,2.161-1.585,3.979-4.25,3.979		C2737.512,1411.193,2736.252,1410.797,2735.531,1410.275z")
                path(fill="#666666" d="M2744.604,1409.807h1.639l-1.332,3.512h-0.973L2744.604,1409.807z")
                path(fill="#666666" d="M2748.203,1410.275l0.27-1.152c0.667,0.449,1.855,0.863,2.846,0.863c1.908,0,3.025-1.08,3.025-2.79		c0-1.837-1.081-2.575-2.972-2.575c-0.828,0-1.962,0.342-2.521,0.594l0.432-6.338h6.122v1.225h-4.97l-0.252,3.674	c0.486-0.127,1.225-0.252,1.729-0.252c2.432,0,3.926,1.152,3.926,3.69c0,2.161-1.585,3.979-4.25,3.979		C2750.184,1411.193,2748.924,1410.797,2748.203,1410.275z")
                path(fill="#666666" d="M2758.067,1402.064h1.747l1.656,4.52c0.234,0.666,0.63,1.746,0.828,2.431h0.018 c0.198-0.666,0.721-2.106,1.08-3.079l1.459-3.871h1.783l0.594,8.697h-1.369l-0.216-4.25c-0.036-0.936-0.108-2.035-0.144-3.115	h-0.072c-0.198,0.738-0.469,1.477-0.99,2.827l-1.729,4.501h-1.026l-1.603-4.429c-0.288-0.811-0.684-2.071-0.9-2.881h-0.09	c-0.018,1.026-0.055,2.179-0.107,3.133l-0.234,4.214h-1.369L2758.067,1402.064z")
                path(fill="#666666" d="M2768.667,1410.754l1.761-1.826c1.045-1.089,1.748-1.893,1.748-2.948c0-0.979-0.473-1.463-1.518-1.463		c-0.627,0-1.221,0.308-1.65,0.604l-0.253-0.693c0.462-0.297,1.21-0.67,2.046-0.67c1.486,0,2.289,0.824,2.289,2.145	c0,1.276-0.771,2.156-2.047,3.455l-1.154,1.166h3.365v0.748h-4.587V1410.754z")
              g.txt-home-5
                path(fill="#666666" d="M2827.461,1411.465l0.271-1.152c0.667,0.451,1.854,0.865,2.845,0.865c1.908,0,3.025-1.08,3.025-2.791	c0-1.837-1.08-2.575-2.971-2.575c-0.828,0-1.963,0.343-2.521,0.595l0.433-6.338h6.122v1.225h-4.97l-0.253,3.672	c0.486-0.125,1.225-0.252,1.729-0.252c2.432,0,3.926,1.152,3.926,3.691c0,2.16-1.584,3.979-4.249,3.979	C2829.441,1412.384,2828.182,1411.987,2827.461,1411.465z")
                path(fill="#666666" d="M2836.533,1410.997h1.639l-1.332,3.511h-0.973L2836.533,1410.997z")
                path(fill="#666666" d="M2840.133,1411.465l0.271-1.152c0.667,0.451,1.854,0.865,2.845,0.865c1.908,0,3.025-1.08,3.025-2.791	c0-1.837-1.08-2.575-2.971-2.575c-0.828,0-1.963,0.343-2.521,0.595l0.433-6.338h6.122v1.225h-4.97l-0.253,3.672	c0.486-0.125,1.225-0.252,1.729-0.252c2.432,0,3.926,1.152,3.926,3.691c0,2.16-1.584,3.979-4.249,3.979		C2842.113,1412.384,2840.854,1411.987,2840.133,1411.465z")
                path(fill="#666666" d="M2849.998,1403.255h1.746l1.656,4.52c0.234,0.666,0.631,1.747,0.828,2.431h0.019c0.198-0.666,0.72-2.106,1.08-3.079 l1.458-3.871h1.783l0.594,8.696h-1.368l-0.216-4.249c-0.036-0.937-0.108-2.034-0.145-3.114h-0.072		c-0.197,0.738-0.468,1.477-0.99,2.826l-1.729,4.502h-1.025l-1.604-4.43c-0.287-0.811-0.684-2.07-0.9-2.881h-0.09	c-0.018,1.026-0.054,2.179-0.107,3.133l-0.234,4.213h-1.368L2849.998,1403.255z")
                path(fill="#666666" d="M2860.598,1411.945l1.76-1.826c1.045-1.09,1.749-1.893,1.749-2.949c0-0.979-0.473-1.463-1.519-1.463	c-0.627,0-1.221,0.308-1.65,0.605l-0.252-0.693c0.461-0.297,1.21-0.672,2.046-0.672c1.485,0,2.288,0.826,2.288,2.146 c0,1.276-0.77,2.157-2.046,3.454l-1.155,1.167h3.366v0.748h-4.587V1411.945z")
              path.home-point-4(fill="#f2f3f5" d="M2802.35,1359.125h-157.07l0.574-29.298c-20.486,4.629-27.965,13.354-29.008,29.298h-151.376v230.45h336.88 V1359.125L2802.35,1359.125z")
              path.home-point-3(fill="#f2f3f5" d="M2129.319,1361.234h157.07l-0.574-29.299c20.486,4.629,27.965,13.354,29.007,29.299H2466.2v230.449h-336.881 V1361.234L2129.319,1361.234z")
              path.home-point-5(fill="#f2f3f5" d="M3039.633,1298.457l-229.381-1.245l0.074,24.235c-14.139,2.126-24.109,9.604-27.775,29.021l27.863,0.191 l0.033,11.054l-8.57,0.828l0.473,228.278l234.258-1.246v-20.67h41.6l0.834-100.536l-39.229,0.188L3039.633,1298.457     L3039.633,1298.457z")
              path.home-point-2(fill="#f2f3f5" d="M1892.161,1298.977l230.57,0.008l-0.074,24.235c14.139,2.126,24.109,9.604,27.774,29.021l-27.862,0.191 l-0.033,11.054l8.569,0.828l0.705,226.505l-235.436,0.528v-20.67h-41.599l-0.835-100.537l38.255,0.184L1892.161,1298.977 L1892.161,1298.977z")
              path.home-point-6(fill="#f2f3f5" d="M2941.279,1015.003h-368.963v278.058h117.881c-1.928,24.078,15.521,31.557,28.707,34.049l0.055-27.818 l218.707-0.859l41.668-0.074l-0.191-113.173l-37.863-0.168V1015.003L2941.279,1015.003z")
              path.home-point-1(fill="#f2f3f5" d="M1990.972,1015.73h368.962v278.058h-117.881c1.928,24.079-15.521,31.557-28.707,34.05l-0.055-27.818  l-218.707-0.859l-41.667-0.075l0.19-113.173l37.863-0.168L1990.972,1015.73L1990.972,1015.73z")
