.content-table
{
  tbody
  {
    tr
    {

      /*background-color: #ffffff;
      transition: background-color 0.4s ease 0s;*/
      &:hover
      {
        background-color: #f6f6f6;
        /*transition: background-color 0.4s ease 0s;*/
        cursor: pointer;
      }
      
      td
      {
        
        img
        {
          margin-left: 10px;
        }

        /* Выравнивание контента с третьем стоблбце*/
        &:nth-child(3)
        {
          text-align: center;
        }
      }
          
    }
  }
}