mixin content-table(modifier)
  .container.mt-30
    .row
      .col-lg-8.mx-auto
        table.table.content-table
          thead
            tr
              th(scope='col') #
              th(scope='col') Наименование документа
              th(scope='col') Тип файла
          tbody
            tr(onclick="location.href='link.com'")
              th(scope='row') 1
              td Устав Общества с ограниченной ответственностью «СТИРУС»
              td PDF
                img(src="img/pdf.svg")
            tr
              th(scope='row') 2
              td Изменения в новую редакцию Устава общества с ограниченной ответственностью «СТИРУС»
              td PDF
                img(src="img/pdf.svg")
            tr
              th(scope='row') 3
              td Лист записи Единого государственного реестра юридических лист
              td PDF
                img(src="img/pdf.svg")
            tr
              th(scope='row') 4
              td Лист записи Единого государственного реестра юридических лист
              td PDF
                img(src="img/pdf.svg")
            tr
              th(scope='row') 5
              td Лист записи Единого государственного реестра юридических лист
              td PDF
                img(src="img/pdf.svg")
            tr
              th(scope='row') 6
              td Лист записи Единого государственного реестра юридических лист
              td PDF
                img(src="img/pdf.svg")
            tr
              th(scope='row') 7
              td Лист записи Единого государственного реестра юридических лист
              td PDF
                img(src="img/pdf.svg")
            tr
              th(scope='row') 8
              td Лист записи Единого государственного реестра юридических лист
              td PDF
                img(src="img/pdf.svg")
            tr
              th(scope='row') 9
              td Лист записи Единого государственного реестра юридических лист
              td PDF
                img(src="img/pdf.svg")
            tr
              th(scope='row') 10
              td Лист записи Единого государственного реестра юридических лист
              td PDF
                img(src="img/pdf.svg")
            tr
              th(scope='row') 11
              td Лист записи Единого государственного реестра юридических лист
              td PDF
                img(src="img/pdf.svg")
            tr
              th(scope='row') 12
              td Лист записи Единого государственного реестра юридических лист
              td PDF
                img(src="img/pdf.svg")
