extends ../templates/template.pug
block content
  +header
  +front-min('Контакты', ' ')
  .container.mt-30
    .row
      .col-xl-8.col-sm-12.offset-xl-2.d-inline-flex
        form(action="#", method="POST").d-flex.flex-column.align-items-center.mt-10
          input.input(type="text", placeholder="Имя")
          input.input(type="email", placeholder="Email").mt-20
          textarea.input.input--textarea(placeholder="Сообщение").mt-20
          .d-flex.justify-content-center.mt-30
            input.btn(type="submit", value="Отправить")
        .d-flex.flex-column.ml-50
          +info-item("Телефон", "8-909-218-1642", "img/pic_mobile.svg")
          +info-item("Адрес", "г. Липецк, ул. Терешковой, д.3, пом.8, оф. 1", "img/pic_location-pin.svg")
          +info-item("E-mail", "Stirus2018@yandex.ru", "img/pic_email.svg")
