extends ../templates/template.pug
block content
  +header
  +front-min('Контакты', '')
  .container.mt-30
    .row
      .col-xl-4.col-sm-6.offset-xl-2.offset-sm-3
        form(action="#", method="POST").d-flex.flex-column.align-items-center.mt-10
          .d-flex.justify-content-center
            h3 Обратная связь
          input.input(type="text", placeholder="Имя")
          input.input(type="email", placeholder="Email").mt-20
          textarea.input.input--textarea(placeholder="Сообщение").mt-20
          .d-flex.justify-content-center.mt-30
            input.btn.mb-20(type="submit", value="Отправить")
      .col-xl-3.col-sm-6.offset-xl-1.offset-sm-3
        .d-flex.flex-column.align-items-center.mt-20
          +info-item("Телефон", "8-909-218-1642", "img/pic_mobile.svg")
          +info-item("Адрес", "г. Липецк, ул. Терешковой, д.30, пом.8, оф. 1", "img/pic_location-pin.svg")
          +info-item("E-mail", "Stirus2018@yandex.ru", "img/pic_email.svg")
  .container.mt-40.mb-30
    .row
      .col-lg-6.col-sm-8.offset-lg-3.offset-sm-2
        .d-flex.justify-content-center
          h3 Схема проезда
        .img-thumbnail.mx-auto
          script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8f5d763cb14d1c02dad4e73128ecf5f154c18ac1fe5d4ad285c930c0fb1cc922&amp;width=100%25&amp;height=354&amp;lang=ru_RU&amp;scroll=true")
  +footer.mt-30
