extends ../templates/template.pug
block content
  +header
  +front
  .container.mt-60
    .row.d-flex
      .col-lg-4.col-sm-6.d-flex.justify-content-center.mb-30
        +item('Свидетельство', 'Свидетельство о государственной регистрации права в Едином государственном реестре', '25.03.2013', 'img/02_obj_svidetelstvo.pdf')
      .col-lg-4.col-sm-6.d-flex.justify-content-center.mb-30
        +item('Кадастровая выписка', 'Свод сведений о земельном участке из Государственного кадастра недвижимости представленный в текстовом, и в графическом виде', '05.03.2013', 'img/01_obj_cadastr.pdf')
      .col-lg-4.col-sm-6.d-flex.justify-content-center.mb-30
        +item('Разрешение на строительство', 'Разрешение на строительство департамента градостроительства и архитектуры', '24.04.2018', 'img/03_obj_razreshenie_na_str.pdf')
      .col-lg-4.col-sm-6.d-sm-flex.d-none.justify-content-center
        +item('Проектная декларация', 'Многоэтажное жилое здание по ул. Им. Семашко в Советском округе г. Липецка', '11.06.2018', 'img/04_obj_proj_declaracia.pdf')
      .col-lg-4.col-sm-6.d-sm-flex.d-none.justify-content-center
        +item('Рабочая документация', 'Раздел "Архитектурные решения" Многоэтажное жилое здание по ул. Им Семашко в Советском округе г. Липецка', '01.01.2016', 'img/07_obj_rd.pdf')
      .col-lg-4.col-sm-6.d-sm-flex.d-none.justify-content-center
        +item('Договор', 'Договор участия в долевом строительстве', '01.01.2018', 'img/08_obj_dogovor_du.pdf')
  .container
    .row
      .col-12
        a(href="galery.html")
          h2.mt-70.text-center Галерея
    .row.mt-10
      .col-lg-4.col-sm-6
        +picture("img/IMG_20180927_113750.jpg", "background-image: url(../img/IMG_MIN_20180927_113750.jpg);")
      .col-lg-4.col-sm-6.d-none.d-sm-block
        +picture("img/IMG_20180917_103424.jpg", "background-image: url(../img/IMG_MIN_20180917_103424.jpg);")
      .col-lg-4.col-sm-6.d-none.d-lg-block
        +picture("img/IMG_20180927_113737.jpg", "background-image: url(../img/IMG_MIN_20180927_113737.jpg);")
  .container-fluid
    .row
      .col-12
        h2.mt-70.text-center Напишите нам
      .col-xl-4.col-sm-6.offset-xl-4.offset-sm-3
        form(action="#", method="POST").d-flex.flex-column.align-items-center.mt-10
          input.input(type="text", placeholder="Имя")
          input.input(type="email", placeholder="Email").mt-20
          textarea.input.input--textarea(placeholder="Сообщение").mt-20
          .d-flex.justify-content-center.mt-30
            input.btn(type="submit", value="Отправить")
  +footer(class="mt-100")