mixin front(modifier)
  .front&attributes(attributes)
    .container
      .row
        .col-lg-8.mx-auto
          h1.text-center ООО «СТИРУС»
          p.front__comment Текущий объект строительства: многоэтажное жилое здание по ул. Им. Семашко в Советском округе г. Липецка