mixin front(modifier)
  .front&attributes(attributes)
    .container
      .row
        .col-lg-8.mx-auto
          h1.text-center Тестовое задание
          p.front__comment На его примере мы хотим продемонстрировать наш подход к организации разработки, а также познакомиться с вашими методами вёрстки популярных элементов веб-сайтов