.info-item 
{
  width: 330px;
  height: 128px;
  background-color: green;

  font-family: $font-family-sans-serif;

  display: inline-flex;

  &__picture 
  {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;

    border: 1px solid $dark_primary;
    border-radius: 50%;
  }
  
  &__content 
  {
    height: 128px;
    display: flex;
    flex-direction: column;

    background: white;
  }
    
  &__title 
  {
    height: 40px;
    line-height:40px;
    
    color: $black;
    font-size: 18px;
    font-weight: 500;

    background: yellow;
  }
  
  &__discr
  {
    color: $gray;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    background: gray;
  }
  
}