.header 
{
  box-shadow: 0 2px 10px rgba(85, 85, 85, 0.25);

  &__content 
  {

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    max-width: 1366px;

    /* компенсация отступов сетки bootstrap  */
	  /*margin-right: -15px;  
	  margin-left: -15px;*/
    
    
    background-color: #ffffff;
    
    a.logo
    {
		  /*Стили в блоке logo*/
      
      /* отступы */
      margin-right: 15px;  
      margin-left: 15px;
      /*@include media-breakpoint-down(lg) 
      { 
        margin-left: 0px;
      }*/
      @media all and (max-width: 1400px)
      {
        margin-left: 0px;
      }
      @media all and (max-width:650px)
      {
        flex-grow: 1;
      }

    }

    
    a.btn
    {
      width: 163px;
      height: 50px;
      @media all and (max-width:760px)
      {
        display: none;
      }

      margin-right: 15px;
      
      @media all and (max-width: 1400px)
      {
        margin-right: 0px;
      }
    }

    a.btn_home
    {

    	display: none;
      /* меняем дизайн кнопки в шапке при заданной ширине */
      @media all and (max-width:760px)
      {
        display: inline-block;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background: $primary url(../img/key_btnpic.svg) no-repeat;
        background-position: center; 
      }

    	color: #ffffff;
      font-weight: 400;

      margin-right: 15px;
      
      @media all and (max-width: 1400px)
      {
        margin-right: 0px;
      }
    }
    
    a.btn_menu
    {

      display: none;

      @media all and (max-width:650px)
      {
        display: inline-block;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background: $primary url(../img/menu_btnpic.svg) no-repeat;
        background-position: center; 
        margin-right: 10px;
      }
    }

  }

  &__menu
    {
      flex-grow: 1;

      display: inline-flex;
      
      /* Перестройка меню карты сайта при маленьком разрешении */
      @media all and (max-width: 650px)
      {
        display: none;
      }
    }
    
    &__link
    {
      display: inline-flex;
      align-items: center;
      color: #1a1a1a;
      font-family: $font-family-sans-serif;
      font-size: 18px;
      font-weight: 300;
      height: 50px;
      margin-left: 30px;

      &:nth-child(1)
      {
        margin-left: 0px;
      }

      &:hover
      {
        color: $dark_primary;
      }
    }
 
}
