mixin header(modifier)
  .header&attributes(attributes)
    .container-fluid
      .row
        .col-12
          .header__content
            +logo(class="ml-15 mr-15")
            nav.header__sitemap.ml-30
              a.header__link(href="index.html") Главная
              a.header__link(href="documents.html") Документы
              a.header__link(href="galery.html") Галерея
              a.header__link(href="contact.html") Контакты
            a.btn(href="#").mr-15 О компании
