mixin header(modifier)
  .header&attributes(attributes)
    .container-fluid
      .row.no-gutters
        .col-12
          .header__content.mx-auto
            +logo
            nav.header__menu.ml-30
              a.header__link(href="index.html" name='main') Главная
              a.header__link(href="documents.html" name='documents') Документы
              a.header__link(href="galery.html" name='galery') Галерея
              a.header__link(href="contact.html" name='contact') Контакты
            a.btn(href="apartament.html") Квартиры
            a.btn_menu(name='menu')
            a.btn_home(href="index.html" name='homes')
